
.panel {
	display: block;
	background-color: #101010;
	border: 1px solid #464646;
	font-size: 10px;
	/*position: relative;*/
	margin: 10px 1px 1px 0px;
	overflow: hidden;
}
.panel-opaque {
	background: transparent;
}
.panel h2 {
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 11px;
	width: 100%;
	margin-top: 0px;
	padding-top: 3px;
	background: url(http://static.gal6.com/Themes/images/boxhead_back_general.gif);
	height: 17px;
	overflow: hidden;
  position: relative;
}
.panel h2 a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.panel h2 a:hover {
	color: white;
	text-decoration: underline;
}
.panel h2 a.help {
	display: block;
	text-indent: -100px;
	overflow: hidden;
	position: absolute;
	top: 3px;
	right: 3px;
	background: transparent url(http://static.gal6.com/Themes/images/button_help_general.gif) no-repeat;
	height: 14px;
	width: 14px;
}
.panel h2 a.back {
	display: block;
	float: left;
	left: 10px;
	top: -4px;
	text-indent: -100px;
	overflow: hidden;
	position: relative;
	background: transparent url(http://static.gal6.com/Themes/images/buttons/back_btn_general.gif) no-repeat;
	height: 50px;
	width: 26px;
}
.panel h2 a.forward {
	display: block;
	float: left;
	left: 15px;
	top: -4px;
	text-indent: -100px;
	overflow: hidden;
	position: relative;
	background: transparent url(http://static.gal6.com/Themes/images/buttons/forward_btn_general.gif) no-repeat;
	height: 20px;
	width: 26px;
}
.panel .content {
	margin: 10px;
	/*display: block;*/
}
.panel-opaque {
	background: none;
}
.panel-opaque .content-backplane 
{
	position: absolute;
	display: block;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 1024px;
	background-color: #101010;
	filter: alpha(opacity='70');
    -khtml-opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity: 0.70;
    opacity: 0.70;
	z-index: 0;
}
.ie6 .panel-opaque .content-backplane
{
	z-index: -1;
}
.panel .content p {
	margin: 0px 0px 10px 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 14px;
	text-align: left;
}
.panel .content .ie-display-correct {
	height: 0px;
	overflow: hidden;
}
.panel-clearing {
	display: none;
}
.cleared .panel-clearing {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.panel-imagebars H2 {
	display: none;
}
.panel-imagebars .content {
	margin: 20px 315px 40px 225px;
}
.ie .panel-imagebars .content {
	margin-top: 0px;
	padding-top: 20px;
} 
.panel-imagebars .panel-imagebar-left,
.panel-imagebars .panel-imagebar-right {
	border: 1px solid #464646;
	background-color: #1c1c1c;
	position: absolute;
	top: 20px;
	bottom: 40px;
}
.panel-imagebars .panel-imagebar-left {
	background: url(http://static.gal6.com/Themes/images/bars/alap1.jpg);
	left: 30px;
	width: 170px;
}
.panel-imagebars .panel-imagebar-right {
	background: url(http://static.gal6.com/Themes/images/bars/alap2.jpg);
	right: 30px;
	width: 260px;
}
.panel-imagebars .panel-imagebar-right-content {
	display: block;
	width: 240px;
	margin: 10px;
	position: fixed;
}
.ie6 .panel-imagebars .panel-imagebar-right-content {
	position: relative!important;
	top: 0px!important;
	left: 0px!important;
}

