
#portal_top {
	position: relative;
	width: 975px;
	height: 127px;
	background: url(http://static.gal6.com/Themes/images/head_portal.jpg) 0px 0px no-repeat;
}
#login_section {
	overflow: hidden;
}
#login_section #loginbox_backplane {
	background: transparent url(http://static.gal6.com/Themes/images/fekete_gradient.png) repeat-x;
	position: absolute;
	width: 276px;
	height: 90px;
	left: 697px;
	top: 5px;
	border: 1px solid #464646;
}
#login_section.failure #loginbox_backplane {
	border-color: red;
	background: red;
}
#login_section #loginbox {
	position: absolute;
	width: 264px;
	height: 80px;
	left: 697px;
	top: 5px;
	border: 1px solid #464646;
	padding: 5px 6px;
} 
/*
.ie6 #login_section #loginbox {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fekete_gradient.png', sizingMethod='scale');
}
*/
.ie6 #login_section #loginbox {
	padding-bottom: 1px;
}
#login_section.failure #loginbox {
	display: none;
}
#loginbox .control {
	white-space: nowrap;
}
#login_section #loginbox_failure {
	display: none;
	text-align: center;
	position: absolute;
	width: 264px;
	height: 50px;
	left: 697px;
	top: 5px;
	border: 1px solid red;
	padding: 20px 6px;
}
#login_section.failure #loginbox_failure {
	display: block;
}
#login_section #loginbox_failure p {
	margin-bottom: 10px;
	font-weight: bold;
}
#portal_top #loginbox a {
	color: #867963;
	text-decoration: none;
}
#portal_top #loginbox .combobar a:hover {
	color: white;
	background-color: #464646;
}
#portal_top #loginbox .combobar .first {
	color: #c2b8a6;
}
#portal_top #loginbox .button {
	margin-right: 0px;
}
#portal_top #loginbox .field {
	padding-bottom: 5px;
}
#portal_top #loginbox .combobar {
	margin-top: 0px!ie;
}
#portal_top #loginbox .pager {
	margin: 0px 5px;
	z-index: 0;
}
#portal_top #gal6time {
	position: absolute;
	width: 195px;
	height: 30px;
	left: 735px;
	top: 97px;
	z-index: 0;
}

#portal_top #gal6time div{
  font-size:18px;
  color:#0a952b;
  font-weight:bold;
  font-style:italic;
  padding-top:2px;
  height:26px;
  width:193px;
  border:1px solid #0a952b;
  text-align:center;
  background:#000;
}

#portal_top #gal6time.calc div {
  color:#FF0000;
  text-decoration:blink;
  border:1px solid #FF0000;
}


#nav_background {
	position: relative;
	width: 100%;
	z-index: 1;
	height: 30px;
	background: url(http://static.gal6.com/Themes/images/menu/submenu_back.gif);
	margin-bottom: 4px;
}
/*
#nav_background #languages {
	float: right;
	margin-top: 4px;
}
#nav_background #languages .selectbox {
	margin-right: 10px;
}
*/
#nav_background #languages {
	float: right;
}
#nav_background #languages img {
	border: 0px;
	margin: 8px;
}


#loginbox h2 {
	text-align: center;
	display: block;
	padding-bottom: 2px;
	font-weight: bold;
	color: #ffe4a6;
}
#loginbox h2 img.cast-icon {
	vertical-align: -5px;
}
#loginbox table {
	margin-bottom: -10px;
	border-top: 1px solid #464646;
	border-bottom: 1px solid #464646;
}
#loginbox table tr {
	height: 18px;
}
#loginbox table th,
#loginbox table td {
	background-color: transparent;
	color: #fffbd5;	
	font-size: 10px;
}
#loginbox table th {
	color: #ffe3a5;	
}
#loginbox table td.col2,
#loginbox table td.col4 {
	text-align: right;
}
#loginbox table img.icon-delta {
	vertical-align: -2px;
}



#menu-main {
	position: absolute;
	left: 0px;
	top: 127px;
	z-index: 9999;
}
.sf-menu div.separator {
	float: left;
	margin-top: 9px;
	width: 1px;
	height: 11px;
	background: url(http://static.gal6.com/Themes/images/menusub_sep.gif) no-repeat;
}
.sf-menu a {
	display: block;
	float: left;
	margin-top: 8px;
	margin-left: 11px;
	margin-right: 11px;
	text-decoration: none !important;
	color: #ffe3a5;
}
.ie6 .sf-menu a {
	margin-left: 4px;
	margin-right: 6px;
}
.sf-menu {
	padding: 0px;
	list-style: none;
	float: left;
}
.sf-menu li {
	height: 34px;
	float: left;
	position: relative;
	display: block;
}
.sf-menu li:hover {
	background: url(http://static.gal6.com/Themes/images/menu/menu_bg1_barna_general.gif) repeat;
}
.sf-menu li a {
	float: left;
	display: block;
	height: 18px;
}
.sf-menu li:hover a {
	color: #ffffff;
}
.sf-menu li ul {
	position: absolute;
	top: 34px;
	left: -999em;
	padding: 0px 0px 7px 0px;
	background: url(http://static.gal6.com/Themes/images/menu/submenu_level3_bg_barna_general.gif) bottom left no-repeat;
}
.ie6 .sf-menu li ul {
	width: 126px;
}
.sf-menu li:hover ul {
	left: 0px;
}
.sf-menu li ul li {
	display: block;
	margin: 0px 1px;
	height: 18px;
	border: none;
	background: none;
}
.ie6 .sf-menu li ul li {
	margin: 0px 1px;
}
.sf-menu li ul li a {
	color: #ffffff;
	clear: both;
	height: 18px;
	width: 124px;
	margin: 0px;
	padding: 0px 12px 0px 12px;
	font-weight: normal;
	line-height: 18px;
}
.ie6 .sf-menu li ul li a {
	width: 102px;
}
.sf-menu li ul li:hover {
	background: #404040;
}

#languages {
	position: relative;
	width: 300px;
}
#languages div {
	position: absolute;
	right: 185px;
	top: 5px;
	text-align: right;
	padding: 5px 10px;
}
#languages ul {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 180px;
	height: 21px;
	overflow: hidden;
	border: 1px solid #535354;
	background: #212121 url(http://static.gal6.com/Themes/images/flags/misc/langSelectBg.png) bottom left repeat-x;
}
#languages ul:hover {
	height: auto;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	padding-bottom: 3px;
}
#languages ul li {
	border-top: 1px solid #303130;
	border-bottom: 1px solid #212121;
}
#languages ul li.active {
	border-top: none;
}
#languages ul li.active {
	background: #212121 url(http://static.gal6.com/Themes/images/flags/misc/langSelectBoxBg.png) right 0px no-repeat;
}
#languages ul li a {
	display: block;
	background: transparent url(http://static.gal6.com/Themes/images/flags/flag_g6.gif) 5px center no-repeat;
	padding: 3px 8px 3px 36px;
	cursor: pointer;
	cursor: hand;
	text-decoration: none;
	color: white;
}
#languages ul li a:hover {
	background-color: #181818;
}
#languages ul li.active a:hover {
	background-color: transparent;
}


