

ul.treeview,
.portal-typo ul.treeview ul {
	margin: 0px;
	padding: 0px;
	margin-left: -10px;
}

ul.treeview {
	margin-left: 0px;
}
ul.treeview li.active a {
	background-color: #867963;
	color: black;
	font-weight: bold;
	padding: 0px 3px;
}
.treeview li {
	background: transparent url(http://static.gal6.com/Themes/images/simpletreemenu/list.gif) no-repeat left top;
	list-style-type: none;
	padding-left: 20px;
	margin-bottom: 2px;
}
.portal-typo ul.treeview li
{
	margin-left: 0px!important;
}
.treeview li.submenu,
.treeview li.folder-close,
.treeview li.folder-open {
	background: transparent url(http://static.gal6.com/Themes/images/simpletreemenu/closed.gif) no-repeat left 1px;
	cursor: hand !important;
	cursor: pointer !important;
}
.treeview li.folder-open {
	background: transparent url(http://static.gal6.com/Themes/images/simpletreemenu/open.gif) no-repeat left 1px;
}
.treeview li.submenu ul {
	display: none;
}
.treeview .submenu ul li {
	cursor: default;
}

	
