

#reference {
	position: absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	bottom: 10px;
}
body.popup-wide #foot {
	position: absolute;
	left: 11px;
	right: 11px;
	bottom: 11px;
	height: 24px;
	background-color: #464646;
}
body.popup-wide #foot .combobar .pager {
	margin-left: 4px;
}
body.popup-wide #foot .combobar .pager a {
	padding-left: 6px;
	color: #ffe3a5;
}
body.popup-wide #foot .combobar .pager a:hover {
	background-color: #212121;
}
body.popup-wide #foot .combobar .floatright {
	margin-right: 10px;
}
#reference_content {
	position: absolute;
	margin: 0px;
	top: 20px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.scroll-pane {
	width: 200px;
	height: 200px;
	overflow: auto;
	float: left;
}
#pane1holder {
	position: absolute;
	left: 0px;
	top: 95px;
	height: 200px;
	width: 240px;
	border-right: 1px solid #464646;
}
.ie6 #pane1holder {
	width: 250px;
}
#pane1 {
	height: 100%;
	width: 100%;	
}
#pane2holder {
	position: absolute;
	left: 241px;
	top: 0px;
	right: 0px;
	height: 200px;
}
#pane2 {
	height: 100%;
	width: 100%;	
}

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #aaa;
}
.jScrollPaneDrag {
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#pane1 .margin {
	padding: 10px;
}
#pane2 .margin {
	padding: 20px;
}
#pane1 {
	background: #101010;
}
#pane2 table tr.odd:hover td {
	background-color: #202020;	
}
#pane2 table tr.even:hover td {
	background-color: #1c1c1c;
}
#pane2 table tr th,
#pane2 table tr td {
	padding: 5px;
}
#pane2 .portal-typo #toppager {
	background: transparent url(http://static.gal6.com/Themes/images/portal-pager-bg.png) top center no-repeat;
}
#pane2 #toppager a.floatleft,
#pane2 #bottompager a.floatleft {
	margin-left: 20px;
}
#pane2 #toppager a.floatright,
#pane2 #bottompager a.floatright {
	margin-right: 20px;
}
#pane2 #toppager a.prev,
#pane2 #bottompager a.prev {
	float: left;
	margin-top: 5px;
}
#pane2 #toppager a.next,
#pane2 #bottompager a.next {
	float: right;
	margin-top: 5px;
}
#reference #pane2 table {
	margin-bottom: 10px;
}
#reference #pane2 table td {
	color: white;
}
#pane2 h3,
#pane2 h4,
#pane2 h5,
#pane2 h6,
#pane2 blockquote,
#pane2 p,
#pane2 ul,
#pane2 ol {
	clear: both;
}
#pane2 p img {
	margin-right: 10px;
	margin-bottom: 10px;
}

#utilitybox {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 75px;
	width: 220px;
	padding: 10px 10px 10px 10px;
	border-right: 1px solid #464646;
	background-color: #1c1c1c;	
}

#search_term {
	width: 216px;
}
.search-hide {
	display: none;
}

