
@CHARSET "UTF-8";

/* columns */

table thead td.col-computed-num,
table tbody td.col-computed-num {
	background-color: #331f2f;
}

/* table */

.bullettin-board img.avatar {
	border-color: #522e55;
}

/* panel */

.panel_facebox .content p a {
	color: #a756a0;
}
.panel {
	border: 1px solid #522e55;
}
.panel h2 {
	background: #522e55 url(http://static.gal6.com/Themes/images/boxhead_back_pirate.gif);
}
.panel h2 a.help {
	background: transparent url(http://static.gal6.com/Themes/images/button_help_pirate.gif) no-repeat;
}
.panel h2 a.back {
	background: transparent url(http://static.gal6.com/Themes/images/buttons/back_btn_pirate.gif) no-repeat;
}
.panel h2 a.forward {
	background: transparent url(http://static.gal6.com/Themes/images/buttons/forward_btn_pirate.gif) no-repeat;
}

/* top */

#planeta_l {
	color: #a756a0;
}
#nyersanyagbox,
#infobox,
#line1,
#line2,
#line3 {
	border-color: #522e55;
}

/* menu */

.menubut a {
	color: #a756a0;
}

/* tablist */

.tablist a {
	color: #a756a0;
}

/* button */

a.button .lft {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_left_pirate.gif) no-repeat;
}
a.button .rgt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_right_pirate.gif) no-repeat;
}
a.button .txt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_mid_pirate.gif);
}

a.button:hover .lft {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_left_pirate_on.gif) no-repeat;
}
a.button:hover .rgt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_right_pirate_on.gif) no-repeat;
}
a.button:hover .txt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_mid_pirate_on.gif);
}
a.button.feature-disabled:hover .lft {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_left_pirate.gif) no-repeat;
}
a.button.feature-disabled:hover .rgt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_right_pirate.gif) no-repeat;
}
a.button.feature-disabled:hover .txt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_mid_pirate.gif);
}

/* top */

#top
{
	background-image: url(http://static.gal6.com/Themes/images/head_pirate.jpg);
}

/* basic */

h1, h2, h3, h4, h5, h6,
th {
	color: #a756a0;
}

/* profilbox */

.proftable caption a {
	color: #a756a0;
}

#profilbox,
#planpic {
	border: 1px solid #522e55;
}

/* forms_css */

textarea,
select,
input.text {
	border: 1px solid #522e55;
}
input.disabled {
	background-color: #331f2f;
	border-color: #331f2f;
}
span.checkbox {
	background: transparent url(http://static.gal6.com/Themes/images/checkbox_pirate.gif) top left no-repeat;
}
span.radio {
	background: transparent url(http://static.gal6.com/Themes/images/checkbox_pirate.gif) top right no-repeat;
}
span.checkbox_off {
	background: transparent url(http://static.gal6.com/Themes/images/checkbox_pirate.gif) bottom left no-repeat;
}
span.radio_off {
	background: transparent url(http://static.gal6.com/Themes/images/checkbox_pirate.gif) bottom right no-repeat;
}
.selectbox /* look and feel of select box*/
{
	border: 1px solid #522e55;
	background-image: url(http://static.gal6.com/Themes/images/selectbox_pirate.gif);
}
div.selectbox-wrapper {
  border-color: #522e55;
}

/* superfish menu */

#submenu {
	background: url(http://static.gal6.com/Themes/images/menu/menu_bg0_barna_pirate.png);
}
.sf-menu li:hover {
	background: url(http://static.gal6.com/Themes/images/menu/menu_bg1_barna_pirate.gif) repeat;
}
ul#menu-gal6 li:hover,
ul#menu-logout li:hover {
	background: url(http://static.gal6.com/Themes/images/menu/menu_bg1_sima_pirate.gif) repeat;
}
.sf-menu li ul {
	background: url(http://static.gal6.com/Themes/images/menu/submenu_level3_bg_barna_pirate.gif) bottom left no-repeat;
}
ul#menu-gal6 li ul {
	background: url(http://static.gal6.com/Themes/images/menu/submenu_level3_bg_sima_pirate.gif) bottom left repeat;
}
ul#menu-gal6 li ul li:hover,
.sf-menu li ul li:hover {
	background: #51484f;
	background-image: none;
}

/* credit extra parcel */

#planet_extra #extra_parcel {
	background: url(http://static.gal6.com/Themes/images/extra/box_pirate.gif) no-repeat;
}

.popup_general #alliance_navigator,
.popup_general #galaxy_navigator,
.popup_general #planet_navigator {
	display: block;
}
.popup_general #alliance_profile .combobar,
.popup_general #galaxy_profile .combobar,
.popup_general #planet_profile .combobar {
	display: block;
}

#galaxy_temp hr {
	border-color: #522e55;
}

.panel_facebox_wrapper .panel {
	background-image: url(http://static.gal6.com/Themes/images/tips/infobox_piraati_bg.png);
}

.sf-menu .unvisited a {
	background-image: url(http://static.gal6.com/Themes/images/menu_marker_pirate.gif);
}

#tippbox {
	background-image: url(http://static.gal6.com/Themes/images/tips/smalltip_bg_piraati.png);
}


