.floatleft{
    float: left;
}

.floatright{
    float: right;
}

.clr{
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.invisible{
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

img{
    border: 0;
}

head { height: 100%; }

body{
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica;
    padding: 0;
    margin: 0;
    min-height: 100%; 
}

.background{
    background: url(../../../Themes/images/u5_normal.jpg) no-repeat;
    color: black;
	background-attachment: fixed;
}

/* color */
.color-gray{
    color: #C2AC7E;
}

/* TABLE */
table.pos-table{
    border-collapse: separate;
    border-spacing: 0px;
    margin: 0;
    padding: 0;
}

table.pos-table td{
    padding: 0;
}

table{
    border-collapse: separate;
    border-spacing: 1px;
}

table td, table th{
  padding-left: 5px;
  padding-right: 5px;
}

table .vr{
    background-color: #464646;
    padding: 0;
    width: 1px;
}

table .hr{
    background-color: #464646;
    padding: 0;
    height: 1px;
}

table .even{
    background-color: #1c1c1c;
}

table .odd{
    background-color: #212121;
}

table .attack, tr.even.attack th, tr.even.attack td, tr.odd.attack th, tr.odd.attack td {
  background-color: #861818;
}

table .defend, tr.even.defend th, tr.even.defend td, tr.odd.defend th, tr.odd.defend td {
  background-color: #2C6F2C;
}

table .scout, tr.even.scout th, tr.even.scout td, tr.odd.scout th, tr.odd.scout td {
    background-color: #003ddc;
}

table .attacker-even{
    background-color: #491717;
}

table .attacker-odd{
    background-color: #3A1A1B;
}

table .defender-even{
    background-color: #1c4914;
}

table .defender-odd{
    background-color: #21391c;
}

table .self-even{
    background-color: #161B34;
}

table .self-odd{
    background-color: #1A213A;
}

table.list td {
  color: #C2AC7E;
}

table.list th {
  color: #B0B0B0;
  font-weight: bold;
  text-align: center;
}

table.list tfoot th {
  text-align: left;
  vertical-align: middle;
}

table.list .num {
  color: #FFFFFF;
  text-align: right;
}

table.list .space {
  background: #101010;
}

/* FAJ SPEC */
.cast-strong{
    font-weight: bold;
}

.panel {
  color: #FFFFFF;
  background-image: url(../../../Themes/images/hatter.png);
}

.panel h2{
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 3px 0 0 0;
  text-align: center;
  height: 17px;
}

.panel .content {
  margin: 10px;
  /*position: relative;*/
}

/* INPUTS */

input[type="text"], input[type="password"], select, textarea {
  color: #FFFFFF;
  border: 1px solid #464646;
  background-color: #212121;
  margin: 0;
  padding: 1;
}

input[type="text"].num {
  text-align: right;
}

input[type="button"], input[type="submit"] {
  outline-style: none;
  text-align: center;
}

input[type="button"].button_small, input[type="submit"].button_small {
  padding:0;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  border:none;
  width:84px;
  height:20px;
  font-size: 10px;
  background-color: transparent;
  color:#FFFFFF;
  cursor: pointer;
}

input[type="button"].button_small.inactive, input[type="submit"].button_small.inactive {
  background-image: url('../images/global/button_small/button_small_inactive.png');
  color: #767676;
  cursor: default;
}

input[type="button"].button_small.inactive:hover, input[type="submit"].button_small.inactive:hover {
  background-image: url('../images/global/button_small/button_small_inactive.png');
  color: #767676;
  cursor: default;
}

input[type="button"].button_mini, input[type="submit"].button_mini {
  padding:0;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  border:none;
  width:35px;
  height:14px;
  font-size: 9px;
  background-color: transparent;
  color:#FFFFFF;
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
}

/* SEEKER */
.seeker {
  overflow: hidden;
  position: relative
  
}

.seek {
  height: 17px;
  position: relative;
}

.seeker .line {
  height: 6px;
  position: absolute;
  background: transparent url('../images/global/seeker/seeker_line.png') repeat-x;
}

.seeker .ui-state-default {
  color: #1C94C4;
  font-weight: bold;
  outline-style: none;
}

.seeker .ui-slider-handle {
  margin-left: 0;
  top: 0;
  cursor:default;
  height:17px;
  position:absolute;
  width:9px;
  z-index:2;
}

.seeker .ui-state-hover {
  cursor: pointer;
}

.seeker .pager {
  width: 15px;
  height: 16px;
  cursor: pointer;
}

.seeker .pager.left {
  float: left;
}

.seeker .pager.right {
  float: right;
}

.clear {
  clear: both;
}


/* BUTTONS */

a.button_small {
  display: inline-block;
  height: 24px;
  color: #FFFFFF!important;
  text-decoration:none;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  outline-style: none;
  cursor: pointer;
}

a.button_small:hover {
  text-decoration:none!important;
}

a.button_small span {
  display: block;
  
}
a.button_small span.txt {
  padding-top: 5px;
  height: 19px;
  text-align: center;
}

a.button_small span.left {
  position: absolute;
  top:0;
  left:0;
  width:5px;
  height: 24px;
}

a.button_small span.right {
  position: absolute;
  top:0;
  right: 0;
  width:5px;
  height: 24px;
}

a.button_small.inactive {
  color: #767676;
}

a.button_small.inactive:hover {
  color: #767676;
  cursor: default;
}

.error {
  border: 2px solid #FF0000;
  background: #101010;
  padding: 5px;
}

/*******************
* FROM CAST
*******************/
.cast-strong{
    color: #FFAD36;
}

.cast-str{
    color: #FFAD36;
}

.panel {
    border: 1px solid #87431E;
}

.panel h2{
    background-image: url('../images/global/panel_head/panel_head_cast_techtro.png');
}

/* TABLE */
table .calc, tr.odd th.calc, tr.odd td.calc, tr.even th.calc, tr.even td.calc {
  background: #392419;
}

table.list th {
  color: #FFAD36;
}

.bordercolor {
  border-color: #87431E;
}

input[type="text"], input[type="password"], select, textarea {
  border: 1px solid #87431E;
}

input[type="button"].button_small, input[type="submit"].button_small {
  background-image: url(../images/global/button_small/button_small_cast_techtro.png);
}

input[type="button"].button_small:hover, input[type="submit"].button_small:hover {
  background-image: url(../images/global/button_small/button_small_hover_cast_techtro.png);
}


input[type="button"].button_mini, input[type="submit"].button_mini {
  background-image: url(../images/global/button_mini/button_mini_cast_techtro.png);
}

input[type="button"].button_mini:hover, input[type="submit"].button_mini:hover {
  background-image: url(../images/global/button_mini/button_mini_hover_cast_techtro.png);
}

/* SEEKER */

.seeker .ui-state-default {
  background-image: url(../images/global/seeker/seeker_cast_techtro.png);
}

.seeker .ui-state-hover {
  background-image: url(../images/global/seeker/seeker_hover_cast_techtro.png);
}

.seeker .pager.left {
  background-image: url(../images/global/seeker/pager_left_cast_techtro.png);
}

.seeker .pager.right {
  background-image: url(../images/global/seeker/pager_right_cast_techtro.png);
}

.seeker .pager.left:hover {
  background-image: url(../images/global/seeker/pager_left_hover_cast_techtro.png);
}

.seeker .pager.right:hover {
  background-image: url(../images/global/seeker/pager_right_hover_cast_techtro.png);
}


/* BUTTONS */
a.button_small span.txt {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat -6px 0;
}

a.button_small span.left {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat;
}

a.button_small span.right {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat 100% 0;
}

a.button_small.inactive span.txt {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat -6px 0;
}

a.button_small.inactive span.left {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat;
}

a.button_small.inactive span.right {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat 100% 0;
}

a.button_small.inactive:hover span.txt {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat -6px 0;
}

a.button_small.inactive:hover span.left {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat;
}

a.button_small.inactive:hover span.right {
  background: transparent url('../images/global/button_small/button_small_background_cast_techtro.png') no-repeat 100% 0;
}

a.button_small:hover span.txt {
  background: transparent url('../images/global/button_small/button_small_background_hover_cast_techtro.png') no-repeat -6px 0;
}

a.button_small:hover span.left {
  background: transparent url('../images/global/button_small/button_small_background_hover_cast_techtro.png') no-repeat;
}

a.button_small:hover span.right {
  background: transparent url('../images/global/button_small/button_small_background_hover_cast_techtro.png') no-repeat 100% 0;
}

a.button_small.selected span.txt {
  background: transparent url('../images/global/button_small/button_small_background_hover_cast_techtro.png') no-repeat -6px 0;
  font-weight: bold;
}

a.button_small.selected span.left {
  background: transparent url('../images/global/button_small/button_small_background_hover_cast_techtro.png') no-repeat;
}

a.button_small.selected span.right {
  background: transparent url('../images/global/button_small/button_small_background_hover_cast_techtro.png') no-repeat 100% 0;
}



a.button_refresh {
  display: inline-block;
  width: 30px;
  height: 24px;
  background: transparent url('../images/global/button_refresh/refresh_cast_techtro.png') no-repeat;
  position: relative;
  padding: 0;
  outline-style: none;
  cursor: pointer;
}

a.button_refresh:hover {
  background: transparent url('../images/global/button_refresh/refresh_hover_cast_techtro.png') no-repeat 100% 0;
  text-decoration: none!important;
}

/* POPUP MESSAGE BOX */
.popup_message {
  position: absolute;
  width: 400px;
  border: 1px solid #87431E;
  background: #101010;
  z-index: 510;
  display: none;
}

.popup_message h2 {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 3px 0 0 0;
    text-align: center;
    height: 17px;
    background-image: url('../images/global/panel_head/panel_head_cast_techtro.png');
    position: relative;
}

.popup_message h2 a.popupclose {
  background:url("../images/global/panel_head/close.png") no-repeat scroll 0 0 transparent;
  display:block;
  height:14px;
  overflow:hidden;
  position:absolute;
  right:3px;
  text-indent:-100px;
  top:3px;
  width:14px;
}

.popup_message p {
  padding: 10px;
  margin: 0;
}

.popup_message ul {
  margin-bottom: 0;
  margin-top: 10px;
}

.popup_message .errmsg {
  color: #cb353d;
}

.popup_message p .okmsg {
  color: #0A952B;
}

.popup_message .button {
  text-align: center;
  margin-bottom: 10px;
}

.popup_message .button .button_small {
  width: 80px;
}

.blacklayer {
    filter: alpha(opacity=60);
    z-index: 500;
    -moz-opacity: 0.6;
    opacity: 0.6;
    position: absolute;
    background: #000000;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.blacklayer.loading {
  background: #000000 url(../images/global/tabController/waiting.gif) no-repeat 50% 50%;
}

/* SELECTBOX */

.selectbox {
  background:url("../images/global/form/selectbox_cast_techtro.gif") no-repeat scroll right center #212121;
  border:1px solid #464646;
  color:#FFFFFF;
  cursor:pointer;
  font:11px Verdana,Arial,Helvetica;
  margin:0 30px 0 0;
  padding:1px;
  position:relative;
  text-align:left;
  width:10em;
}

div.selectbox-wrapper  {
  background-color:black;
  border:1px solid #464646;
  font-size:0.8em;
  left:0;
  margin:0;
  overflow:auto;
  padding:0;
  position:absolute;
  text-align:left;
  top:0;
  width:400px;
  z-index:999;
  color: #FFFFFF;
}

div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.selectbox-wrapper ul li {
  cursor:pointer;
  display:block;
  list-style-type:none;
  margin:0;
  padding:2px;
}

.option-icon {
  margin-right:5px;
  vertical-align:-2px;
}

.selectbox-icon {
  margin-right:5px;
  margin-top:7px;
  vertical-align:-2px;
}

/* NiceIt */

/*  CHECKBOX */

B.fmCheckbox {
	/*float: left;*/
  display: inline-block;
	width: 13px;
	height: 13px;
	background: red;
	position: relative;
	cursor: pointer;
	background: url("../images/global/form/checkbox_cast_techtro.png") no-repeat left -13px;
	font-size: 9px;
	/*line-height: 1%; */
	text-indent: -1000em;
}

B.fmCheckbox.checked { background-position: left top; }
B.fmCheckbox:HOVER { background-position: 0x -13px; }
B.fmCheckbox.checked:HOVER { background-position: left top; }

B.fmCheckbox.chbx-disabled { background-position: 0 -13px; }

B.fmCheckbox.checked.chbx-disabled,
B.fmCheckbox.checked.chbx-disabled:HOVER { background-position: left top; }
#battleDescription{
    color: white;
    background-color: #101010;
}

#battleDescription table{
    border-collapse: separate;
    border-spacing: 0;
}

#battleDescription table.attack{
    width: 100%;
}

#battleDescription table.attack td{
    white-space: nowrap;
}

#battleDescription table.attack td.col1{
    padding: 20px 0 20px 20px;
}

#battleDescription table.attack td.col2{
    padding: 20px 20px 20px 0;
}

#battleDescription .sum td{
    border-top: 1px solid #828282;
}

#battleDescription .sum th{
    text-align: left;
    border-top: 1px solid #828282;
}

#battleDescription th{
    text-align: center;
    padding: 0 5px;
}

#battleDescription table.attacker td{
    padding: 4px;
}

#battleDescription table.attack table.shoots td{
    text-align: right;
    padding: 2px 5px;
    line-height: 17px;
}

#battleDescription table.attack table.shoots td.left{
    text-align: left;
}

#battleDescription table.attack table.shoots th{
    padding: 2px 5px;
    line-height: 17px;
}

#battleDescription table.attack table.shoots td.col0{
    padding: 2px 0 2px 2px;
}

#battleDescription table.attack table.shoots td.col1{
    padding: 2px;
}

#battleDescription table.attack table.shoots{
    width: 100%;
}

#battleDescription table.attack table.shoots .line1{
    border-top: 1px solid white;
    width: 10px;
}

#battleDescription table.attack table.shoots .line2{
    border-left: 1px solid white;
}

#battleDescription table.attack table.shoots .line-off{
    border-top: 0;
    width: 10px;
}

#battleDescription table.attack table.shoots td.col1{
    text-align: left;
    width: 120px;
}

#battleDescription table.attack table.shoots td.col2 img{
    margin-top: -7px;
}

#battleDescription table.attack table.shoots td.col4 img{
    margin-top: -7px;
}

#battleDescription td.step{
    width: 80px;
}

#battleDescription div.step{
    float: left;
    text-align: left;
    width: 80px;
}

#battleDescription table.shoots td.shipname.even{
    background: url(../images/battleDescription/line.jpg) left center repeat-x;
    background-color: #1c1c1c;
    width: 10px;
}

#battleDescription table.shoots td.shipname.odd{
    background: url(../images/battleDescription/line.jpg) left center repeat-x;
    background-color: #212121;
}

#battleDescription table.attacker td.shipname{
    background: url(../images/battleDescription/line.jpg) left center repeat-x;
    padding: 0;
}

#battleDescription table.attacker{

}

#battleDescription table.attacker td.shipname-no{
    padding: 0;
}

#battleDescription table.attacker td.shipname-line{
    width: 100%;
}

#battleDescription table.attacker div.shipname{
    padding: 0 10px;
}

#battleDescription table.strings{
    width: 100%;
}

#battleDescription table.strings td{
    line-height: 20px;
}

#battleDescription table.strings td.col1{
    padding: 10px 10px 20px 20px;
    white-space: nowrap;
}

#battleDescription table.strings td.col2{
    padding: 10px 20px 20px 0px;
}

#battleDescription table.strings img{
    margin-top: -8px;
}
#battleReportIndex{
    width: 972px;
    margin: 0 auto;
}

#battleReportIndex .top-text{
    padding: 10px 0;
}

#battleReportIndex .top-text img{
    margin-top: -9px;
}

#battleReportIndex span.g6t{
    color: #528B36;
}

#battleReportIndex a{
    color: #FFE3A5;
    text-decoration: none;
}

#battleReportIndex a:hover{
    text-decoration: underline;
}

#battleReportFrame{
    height: 20px;
}

#battleReport{
    background-color: #171717;
    width: 950px;
    margin: 0 auto;
    padding-top: 5px;
}

#battleReport table.pos-table{
    padding: 0;
}

#battleReport table.pos-table td{
    padding: 0;
}

#battleReport table{
    padding-bottom: 10px;
}

#battleReport th{
    padding: 4px 5px;
}

#battleReport td{
    padding: 4px 5px;
    text-align: right;
}

#battleReport td.left{
    text-align: left;
}

#battleReport td.center{
    text-align: center;
}

#battleReport .vr{
    background-color: #464646;
    padding: 0;
    width: 1px;
}

#battleReport .hr{
    background-color: #464646;
    padding: 0;
    height: 1px;
}

#battleReport td.shippic{
    padding: 0 5px;
}

#battleReport .table-width0{
    width: 100%;
}

#battleReport .table-width1{
    width: 600px;
}

#battleReport .col-width0{
    width: 177px;
}

#battleReport .col-width1{
    width: 75px;
}

#battleReport .col-width2{
    width: 45px;
}

#battleReport .col-width3{
    width: 64px;
}

#battleReport .col-width11{
    width: 250px;
}

#battleReport .col-width12{
    width: 80px;
}

#battleReport .col-width21{
    width: 200px;
}

#battleReport .col-width22{
    width: 100px;
}
#fleet {
  width: 766px;
}

#fleet .error {
  position: absolute;
  display: none;
}

#fleet .content .loading {
  background: #000000 url(../images/global/tabController/waiting.gif) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlayer h2 a.close {
  background:transparent url(../images/global/panel_head/close.png) no-repeat scroll 0 0;
  display:block;
  height:14px;
  overflow:hidden;
  position:absolute;
  right:3px;
  text-indent:-100px;
  top:3px;
  width:14px;
}

.overlayer h2 {
  position: relative;
}

.assembly_entries {
  width: 100%;
}

.assembly_entries td {
  height: 21px;
}

.assembly_entries td.num{
  width: 70px;
}

.assembly_entries td.shipnum {
  cursor:pointer;
}

.assembly_entries td.shipnum.inactive {
  cursor: default;
}

.assembly_entries th.fleetname {
  cursor:pointer;
}

.assembly_entries th.fleetname.inactive {
  cursor: default;
}

.assembly_entries th.attack, .assembly_entries td.attack {
  background-color: #861818!important;
}

.assembly_entries th.defend, .assembly_entries td.defend {
  background-color: #2C6F2C!important;
}

.assembly_entries th.scout, .assembly_entries td.scout {
    background-color: #003ddc!important;
}

.assembly_entries .ship_class {
  width: 55px;
}

.assembly_entries .ship_class img {
  float: right;
}

.assembly_entries .target {
  width: 30px;
}

.assembly_entries td img {
  vertical-align: middle;
}

.assembly_entries td.shipnum:hover, .assembly_entries th.fleetname:hover {
  background: #392419;
}

.assembly_entries td.shipnum.inactive:hover, .assembly_entries th.fleetname.inactive:hover {
  background: inherit;
}

.fleet_move {
  background-image:  url('../images/fleet/fleet_move_background_cast_techtro.png');
}

.ship_move {
  width:255px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.ship_move .seeker {
  width: 147px;
  float: left;
  height: 21px;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 7px;
  padding-right: 7px;
}

.ship_move .seekerpos {
  width: 161px;
  height: 34px;
  overflow: hidden;
  float: left;
  border-left-width: 1px;
  border-left-style: solid;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align:center;
}

.ship_move .seekerpos input {
  margin-bottom: 3px;
}

.ship_move .buttons, .ship_move .input, .ship_move .seeker, .ship_move .top, .ship_move .seekerpos {
  background: url(../images/fleet/overlayer_background.png);
}

.ship_move .top {
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ship_move .top span {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 4px;
  display: block;
  height: 15px;
  overflow: hidden;
  margin: 0 4px;
}

.ship_move .top img {
  vertical-align:middle;
}

.ship_move .buttons {
  width: 92px;
  float: right;
  text-align: center;

  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.ship_move .input {
  width: 92px;
  float: right;
  text-align: center;
  border-right-width: 1px;
  border-right-style: solid;
  padding-top: 22px;
}

.ship_move .input input[type="text"] {
  width: 80px;
  margin-bottom: 5px;
  margin-top: 3px;
}

.ship_move .buttons input {
  margin-bottom: 4px;
}

.fleet_move {
  width:261px;
  height: 198px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: transparent;
  z-index: 100;
}

.fleet_move .top {
  padding-top: 3px;
  padding-bottom: 3px;
}

.fleet_move .top span {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 4px;
  display: block;
  height: 15px;
  overflow: hidden;
  margin: 0 4px;
}

.fleet_move .classes {
  overflow: hidden;
}

.fleet_move .classes a {
  margin-left: 5px;
}

.fleet_move .buttons {
  width: 92px;
  float: right;
  text-align: center;
  margin-top: 4px;
}

.fleet_move .buttons input {
  margin-bottom: 5px;
}

.fleet_move a.button_small span.txt {
  width: 20px;
}

.fleet_move a.button_small.ship_class_all span.txt {
  width: 31px;
}

#fleet_controll table.list {
  width: 100%;
}

#fleet_controll table.list tr {
  height: 36px;
}

#fleet_controll .button_small {
  width: 100px;
  margin-top: 10px;
}

#fleet_controll .col-input-coord input {
  text-align: center;
}
.checkController-lakat{
    width: 17px;
    height: 19px;
    cursor: pointer;
}

.checkController-lakat.on{
    background: url(../images/global/checkController/check1_on.gif) no-repeat;
}

.checkController-lakat.off{
    background: url(../images/global/checkController/check1_off.gif) no-repeat;
}
.global-tabs{
    color: white;
}

/****************
* BUTTON1-SEP
*****************/
.global-tabs .button1-sep{
    width: 1px;
    height: 36px;
}

/****************
* BUTTON1-OFF
*****************/
.global-tabs .button1-off{
    cursor: pointer;
}

.global-tabs .button1-off-left{
    background: url(../images/global/tabController/button1_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-off-bg{
    background: url(../images/global/tabController/button1_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-off-text{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    color: #ccc;
}

.global-tabs .button1-off-right{
    background: url(../images/global/tabController/button1_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-ON
*****************/
.global-tabs .button1-on{
    cursor: default;
}

.global-tabs .button1-on-left{
    background: url(../images/global/tabController/on_button1_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-on-bg{
    background: url(../images/global/tabController/on_button1_bg.png) repeat-x;
    height: 36px;
    cursor: default;
}

.global-tabs .button1-on-text{
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
}

.global-tabs .button1-on-right{
    background: url(../images/global/tabController/on_button1_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-HUMAN
*****************/
.global-tabs .button1-cast-human-left{
    background: url(../images/global/tabController/button1_cast_human_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-cast-human-bg{
    background: url(../images/global/tabController/button1_cast_human_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-cast-human-right{
    background: url(../images/global/tabController/button1_cast_human_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-HUMAN
*****************/
.global-tabs .button1-cast-human-left{
    background: url(../images/global/tabController/button1_cast_human_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-cast-human-bg{
    background: url(../images/global/tabController/button1_cast_human_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-cast-human-right{
    background: url(../images/global/tabController/button1_cast_human_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-DIGTROX
*****************/
.global-tabs .button1-cast-digtrox-left{
    background: url(../images/global/tabController/button1_cast_digtrox_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-cast-digtrox-bg{
    background: url(../images/global/tabController/button1_cast_digtrox_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-cast-digtrox-right{
    background: url(../images/global/tabController/button1_cast_digtrox_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-TECHTRO
*****************/
.global-tabs .button1-cast-techtro-left{
    background: url(../images/global/tabController/button1_cast_techtro_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-cast-techtro-bg{
    background: url(../images/global/tabController/button1_cast_techtro_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-cast-techtro-right{
    background: url(../images/global/tabController/button1_cast_techtro_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-SHADOW
*****************/
.global-tabs .button1-cast-shadow-left{
    background: url(../images/global/tabController/button1_cast_shadow_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-cast-shadow-bg{
    background: url(../images/global/tabController/button1_cast_shadow_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-cast-shadow-right{
    background: url(../images/global/tabController/button1_cast_shadow_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-PIRATE
*****************/
.global-tabs .button1-cast-pirate-left{
    background: url(../images/global/tabController/button1_cast_pirate_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-cast-pirate-bg{
    background: url(../images/global/tabController/button1_cast_pirate_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-cast-pirate-right{
    background: url(../images/global/tabController/button1_cast_pirate_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-ROVAR
*****************/
.global-tabs .button1-cast-rovar-left{
    background: url(../images/global/tabController/button1_cast_rovar_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-cast-rovar-bg{
    background: url(../images/global/tabController/button1_cast_rovar_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-cast-rovar-right{
    background: url(../images/global/tabController/button1_cast_rovar_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* BUTTON1-NO
*****************/
.global-tabs .button1-cast-no-left{
    background: url(../images/global/tabController/button1_left.png) no-repeat;
    width: 5px;
    height: 36px;
}

.global-tabs .button1-cast-no-bg{
    background: url(../images/global/tabController/button1_bg.png) repeat-x;
    height: 36px;
}

.global-tabs .button1-cast-no-right{
    background: url(../images/global/tabController/button1_right.png) no-repeat;
    width: 5px;
    height: 36px;
}

/****************
* TÖBBI
*****************/
.global-tabs .content-wait{
    background: url(../images/global/tabController/waiting.gif) center 100px no-repeat;
    background-color: #1c1c1c;
}

.global-tabs .tab-content{
    background-color: #1c1c1c;
}
#planetProfileHistory{
    width: 940px;
}

#planetProfileHistory .content{
    margin: 0;
    margin-top: 10px;
}

#planetProfileHistory .column1{
    width: 360px;
    margin-left: 10px;
}

#planetProfileHistory .column2{
    width: 290px;
    margin: 20px 0 0 10px;
}

#planetProfileHistory .profile{
    margin: 10px 0;
    background-color: #101010;
    width: 100%;
}

#planetProfileHistory .profile td{
    padding: 4px 5px;
}

#planetProfileHistory .profile td.col0{
    color: #ffe3a5;
    text-align: center;
    vertical-align: top;
}

#planetProfileHistory .profile td.col1{
    color: #ffe3a5;
    text-align: right;
    vertical-align: top;
    width: 50%;
}

#planetProfileHistory .profile td.col2{
    color: white;
    width: 50%;
}

#planetProfileHistory .profile td.col2 a{
    color: #ffe3a5;
    text-decoration: none;
}

#planetProfileHistory .profile td.col2 a:hover{
    text-decoration: underline;
}

#planetProfileHistory .profile .error{
    text-align: center;
    padding-top: 90px;
    color: #ffe3a5;
}

#planetProfileHistory .profile td.jelmondat{
    color: #ffe3a5;
    text-align: left;
}

#planetProfileHistory .profile td.jelmondat-szoveg{
    color: white;
    white-space: normal;
    font-style: italic;
    padding: 10px;
    text-align: left;
}

#planetProfileHistory .profile td.rang_picture{
    text-align: center;
    padding: 40px 0;
}

#planetProfileHistory .rang{
    margin-top: 20px;
}

#planetProfileHistory .inline_img{
    margin-top: -8px;
}
.landing {
  background: url(../images/registration/bg.jpg);
}

.landing .container {
  height:739px;
  margin:0 auto;
  width:1080px;
}

.landing .container div.left {
  float: left;
  width: 381px;
  height: 567px;
  background: url(../images/registration/left_cast_techtro.jpg) no-repeat;
  color: #D9D9D9;
  padding: 152px 20px 20px 117px;
}

.landing .container div.left h1 {
  margin: 5px 0 20px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: normal;
}

.landing .container div.left a {
  font-weight: bold;
}

.landing .container div.left a.intro {
  display: block;
  margin: 9px auto 0 auto;
  width: 211px;
  height: 43px;
}

.landing .container div.left p {
  margin: 0;
  text-align: justify;
}

.landing .container div.left blockquote {
  margin-top: 0;
}

.landing .container div.left p.lead {
  color:#FFFFFF;
  font-size:14px;
  font-weight:bold;
  margin:0 0 10px;
  text-align:left;
}

.landing .container div.center {
  float: left;
  background: url(../images/registration/center_cast_techtro.jpg) no-repeat;
  width: 138px;
  height: 739px;
}
.landing .container div.right {
  float: left;
  background: url(../images/registration/right_cast_techtro.jpg) no-repeat;
  width: 283px;
  height: 559px;
  padding: 160px 110px 20px 20px;
  text-align: left;
  color: #FFFFFF;
  position: relative;
  /*font-family: Tahoma;*/
}

.landing .container div.right .indexlink {
  position: absolute;
  display: block;
  width: 183px;
  height: 56px;
  top: 55px;
  left: 57px;
}

.landing .container div.right h1 {
  margin: 0 0 97px 0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
}

.landing .container form table {
  width: 100%;
}

.landing .container form table td.button {
  text-align: center;
}

.landing .container form table td.button a {
  width: 100px;
}

.landing .container form input {
  color: #BEBEBE;
  padding: 1px 1px 1px 4px;
  height: 14px;
  width: 150px;
  font-size: 11px
}

.landing .container form input.selectbox {
  width: 122px;
}

.landing .container form td {
  padding: 5px 0 0 0;
}

.landing #captcha_img {
  height: 35px;
  vertical-align: bottom;
}

.landing .left a, .landing .right a {
  color: #F0F0B0;
  text-decoration: none;
}

.landing .left a:hover, .landing .right a:hover {
  text-decoration: underline;
}

.landing .hint {
  position: absolute;
  top:0;
  left:0;
  border: 1px solid #87431E;
  background: #212121 url(../images/global/information.png) no-repeat 4px 6px;;
  padding: 5px 5px 5px 20px;
  width: 175px;
  color: #FFFFFF;
  display: none;
  text-align: justify;
}

.landing .testresult{
	font-weight: bold;
	color:#666;
	padding:0;
	margin-left:10px;
	display: inline-block;
	height:15px;
  width: 110px;
  text-align: center;
  float: right;
}

.landing .testresult.shortPass, .landing .testresult.badPass {
  border: 1px solid #FF0000;
  background: #edabab;
}

.landing .testresult.goodPass {
  border: 1px solid #bc9f00;
  background: #ede3ab;
}

.landing .testresult.strongPass {
  border: 1px solid #73bc00;
  background: #d3edab;
}

#num_of_answers_input {
    width: 50px;
}

#time_of_vote_input {
    width: 70px;
}
