
hr {
	height: 0px;
	clear: both;
	display: block;
	border: none;
	border-bottom: 1px solid #464646;
	margin: 5px 0px;
}

.portal-typo .content,
.portal-typo .content ol,
.portal-typo .content ul,
.portal-typo .content li,
.portal-typo .content p {
	line-height: 16px!important;
}
.portal-typo .content a {
	font-size: 11px;
	text-decoration: none;
	color: #ffe3a5;
}
.portal-typo .content a:hover {
	color: #ffe3a5;
	text-decoration: none;
	background-color: #464646;
}
.portal-typo .content a.button:hover {
	background-color: transparent;
}
.portal-typo .content a.active {
	color: #ffe3a5;
}
.portal-typo .content .combobar .pager a {
	padding-left: 5px;
}
.portal-typo table td a {
	font-size: inherit;
	color: inherit!important;
}
.portal-typo table td a:hover {
	text-decoration: underline;
}
.portal-typo .panel h2 {
	color: #ffffff;
}
.portal-typo .panel h2 a {
	color: white;
	text-decoration: none;
}
.portal-typo .panel h2 a:hover {
	color: white;
	text-decoration: underline;
}
.portal-typo h3 {
	color: #ffe3a5;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 1em 0px;
}
.portal-typo h4 {
	color: #ffe3a5;
	font-size: 14px;
	font-weight: bold;
	margin: 1em 0px 5px 0px;
}
.portal-typo h5 {
	color: #ffe3a5;
	font-size: 12px;
	font-weight: bold;
	margin: 1em 0px 5px 0px;
}
.portal-typo h6 {
	color: #ffe3a5;
	font-size: 12px;
	font-weight: bold;
	margin: 1em 0px 5px 0px;
}
.portal-typo ul,
.portal-typo ol {
	margin-bottom: 1em;
	color: #bbbbbb;
}
.portal-typo ol.toc {
	color: #867963;
	margin-bottom: 2em;
}
.portal-typo .combobar a img {
	border: none;
}
.portal-typo ul li,
.portal-typo ol li {
	margin-left: 20px;
}
.ie .portal-typo ul li,
.ie .portal-typo ol li {
	margin-left: 30px;
}
.portal-typo .content p {
	font-weight: normal;
	font-size: 11px;
	color: #bbbbbb;
	margin: 0px 0px 1em 0px;
}
.portal-typo .content p.lead {
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	margin: 0px 0px 1em 0px;
}
.portal-typo blockquote {
	font-size: 14px;
	text-align: center;
	left: -30px;
	margin-bottom: 15px;
	margin-top: 10px;
	color: #867963;
}
/*
.portal-typo a.page-nav-prev {
	float: left;
	text-indent: -100px;
	margin-right: 10px;
	overflow: hidden;
	position: relative;
	background: transparent url(http://static.gal6.com/Themes/images/buttons/back_btn_general.gif) no-repeat;
	height: 20px;
	width: 26px;
}
.portal-typo a.page-nav-prev:hover {
	background-color: transparent;
}
.portal-typo a.page-nav-next {
	float: right;
	text-indent: -100px;
	margin-left: 10px;
	overflow: hidden;
	position: relative;
	background: transparent url(http://static.gal6.com/Themes/images/buttons/forward_btn_general.gif) no-repeat;
	height: 20px;
	width: 26px;
}
.portal-typo a.page-nav-next:hover {
	background-color: transparent;
}
*/
#toppager a.floatleft,
#bottompager a.floatleft {
	background: transparent url(http://static.gal6.com/Themes/images/buttons/back_btn_general.gif) no-repeat;
	text-indent: -100px;
	height: 20px;
	width: 26px;
	margin-top: 3px;
	margin-left: 80px;
}
#toppager a.floatright,
#bottompager a.floatright {
	background: transparent url(http://static.gal6.com/Themes/images/buttons/forward_btn_general.gif) no-repeat;
	text-indent: -100px;
	height: 20px;
	width: 26px;
	margin-top: 3px;
	margin-right: 80px;
}
a#imagebar-registration-button {
	background: transparent url(http://static.gal6.com/Themes/images/registration/reg_butt_hu.png) top left no-repeat;
	text-indent: -400px;
	height: 140px;
	width: 140px;
}
.ie a#imagebar-registration-button {
	background: transparent url(http://static.gal6.com/Themes/images/registration/reg_butt_hu.gif) no-repeat;
	left: 200px;
}
#toppager a.button span,
#bottompager a.button span,
a#imagebar-registration-button span {
	background: transparent;
}
a:hover#imagebar-registration-button {
	background-position: top right;
}
body.ie7_body div.lang-eng a#imagebar-registration-button,
body.ie div.lang-eng a#imagebar-registration-button {
	background-image: url(http://static.gal6.com/Themes/images/registration/reg_butt_en.gif);
}
body div.lang-eng a#imagebar-registration-button {
	background-image: url(http://static.gal6.com/Themes/images/registration/reg_butt_en.png);
}
body.ie7_body div.lang-sk a#imagebar-registration-button,
body.ie div.lang-sk a#imagebar-registration-button {
	background-image: url(http://static.gal6.com/Themes/images/registration/reg_butt_sk.gif);
}
body div.lang-sk a#imagebar-registration-button {
	background-image: url(http://static.gal6.com/Themes/images/registration/reg_butt_sk.png);
}
body.ie7_body div.lang-ro a#imagebar-registration-button,
body.ie div.lang-ro a#imagebar-registration-button {
	background-image: url(http://static.gal6.com/Themes/images/registration/reg_butt_ro.gif);
}
body div.lang-ro a#imagebar-registration-button {
	background-image: url(http://static.gal6.com/Themes/images/registration/reg_butt_ro.png);
}

/*
.portal-typo blockquote {
	background: #1c1c1c url(http://static.gal6.com/Themes/images/portal_blockquote.gif) 2px -5px no-repeat;
	margin-bottom: 1em;
	padding: 1em 1em 1em 4em;
}
.portal-typo #bottompager,
.portal-typo #bottomlinks {
	position: absolute;
	bottom: -40px;
	bottom: -30px!ie;
	padding: 5px 0px;
	margin: 0px;
}
*/

.portal-typo #bottompager .pager {
	display: none;
}

.portal-typo #bottomlinks {
	border-top: 1px solid #464646;
	border-bottom: 1px solid #464646;
	background-color: #1c1c1c;	
	padding: 5px 0px;
	margin: 0px;
}

.portal-typo #bottompager {
	background: transparent url(http://static.gal6.com/Themes/images/portal-pager-bg.png) top center no-repeat;
	padding: 5px 0px 7px 0px;
	margin: 0px;
	margin-top: 20px;
}

#buttonbar {
	margin-left: -5px;
	margin-right: -5px;
}
#buttonbar .tabbutton {
	border: 1px solid #464646;
	background-color: #1c1c1c;
	display: block;
	width: 54px;
	height: 38px;
	margin: 0px 5px;
	display: -moz-inline-box;
	display: inline-block;	
}
#buttonbar .tabbutton:hover {
	background-color: white;
}
.portal-typo .combobar .pager {
	margin: 0px 50px;
	z-index: 1;
}
/*
.portal-typo #toppager {
	padding: 5px 0px;
	margin: 0px;
	margin-bottom: 10px;
	position: relative;
	top: -10px;
}
*/
.portal-typo #toppager .pager {
	margin-left: 0px;
	margin-right: 0px;
	display: none;
}
/*
.portal-typo #toppager .button {
	display: none;
}
*/
.portal-typo #toppager {
	background: transparent url(http://static.gal6.com/Themes/images/portal-pager-bg2.gif) top center no-repeat;
	padding: 5px 0px 7px 0px;
	margin: 0px;
	margin-bottom: 10px;
}
.portal-typo .teaser {
	margin: 10px 0px 10px 74px;
	min-height: 69px;
	_height: 69px;
}
.portal-typo .teaser a {
	margin-left: -74px;
	float: left;
	margin-top: 3px;
}
.portal-typo .teaser a img {
	border: 1px solid #464646;	
}
.portal-typo .teaser h4 {
	margin: 0px;
}
.portal-typo .teaser h4 a {
	margin-left: 0px;
	float: none;
}
.portal-typo .content h3 a,
.portal-typo .content h4 a {
	color: #ffe3a5;
	font-size: 20px;
	font-weight: bold;
}
/*
.portal-typo .content h3 a:hover,
.portal-typo .content h4 a:hover {
	color: #867963;
}
*/
.portal-typo .content h4 a {
	font-size: 14px;
}
#ships_db_link a img {
	vertical-align: -6px;
	margin-right: 5px;
}
#ships_db_link {
	margin-bottom: 10px;
}
.combobar .tabs a {
	color: #867963;
	padding-left: 5px;
	padding-right: 5px;
}
.combobar .tabs a:hover {
	color: white;
	background-color: #464646;
}
.combobar .phantom a:hover,
.content .phantom h3 a:hover,
.combobar .khaduuii a:hover,
.content .khaduuii h3 a:hover,
.combobar .pirate a:hover,
.content .pirate h3 a:hover,
.combobar .digitrox a:hover,
.content .digitrox h3 a:hover,
.combobar .human a:hover,
.content .human h3 a:hover,
.combobar .xchysch a:hover,
.content .xchysch h3 a:hover {
	color: white;
}
.combobar .phantom,
.combobar .phantom a,
.phantom th,
.phantom h3,
.content .phantom h3 a {
	color: #f22127;
}
.combobar .phantom a:hover,
.content .phantom h3 a:hover {
	background-color: #f22127;
}
.phantom blockquote {
	color: #ce7171;
}
.combobar .khaduuii,
.combobar .khaduuii a,
.khaduuii th,
.khaduuii h3,
.content .khaduuii h3 a {
	color: #ffad36;
}
.combobar .khaduuii a:hover,
.content .khaduuii h3 a:hover {
	background-color: #ffad36;
}
.khaduuii blockquote {
	color: #ceaa71;
}
.combobar .pirate,
.combobar .pirate a,
.pirate th,
.pirate h3,
.content .pirate h3 a {
	color: #5d2586;
}
.combobar .pirate a:hover,
.content .pirate h3 a:hover {
	background-color: #5d2586;
}
.pirate blockquote {
	color: #bb71ce;
}
.combobar .digitrox,
.combobar .digitrox a,
.digitrox th,
.digitrox h3,
.content .digitrox h3 a {
	color: #468632;
}
.combobar .digitrox a:hover,
.content .digitrox h3 a:hover {
	background-color: #468632;
}
.digitrox blockquote {
	color: #71ce71;
}
.combobar .human,
.combobar .human a,
.human th,
.human h3,
.content .human h3 a {
	color: #0099cc;
}
.combobar .human a:hover,
.content .human h3 a:hover {
	background-color: #0099cc;
}
.human blockquote {
	color: #71a8ce;
}
.combobar .xchysch,
.combobar .xchysch a,
.xchysch th,
.xchysch h3,
.content .xchysch h3 a {
	color: #997448;
}
.combobar .xchysch a:hover,
.content .xchysch h3 a:hover {
	background-color: #997448;
}
.xchysch blockquote {
	color: #cecd71;
}
.ships-db h3 {
	margin: 0px;
	font-size: 16px;
}
tbody tr:hover th,
tbody tr:hover td {
	background-color: #464646;
}
.panel-imagebar-right div.toc {
	padding: 0px 10px;
	background-color: #101010;
	border: 1px solid #464646;
	filter: alpha(opacity='70');
    -khtml-opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity: 0.70;
    opacity: 0.70;
	z-index: 1;
}
/*
.ie6 .panel-imagebar-right div.toc {
	background: transparent url(http://static.gal6.com/Themes/images/opaque_bg_101010_70pct.png);
}
*/
.panel-imagebar-right div.toc ul {
	list-style: none;
}
.panel-imagebar-right div.toc ul ul {
	margin-bottom: 0px;
	display: none;
}
.panel-imagebar-right div.toc ul ul.open {
	display: block;
}
.panel-imagebar-right div.toc li.active a {
	color: #ffe3a5;
}
.panel-imagebar-right div.toc li,
.panel-imagebar-right div.toc li a,
.panel-imagebar-right div.toc li.active li a {
	color: #867963; 
	text-decoration: none;
}

