
a.button {
	position: relative;
    display: -moz-inline-box;
    display: inline-block;
  	height: 24px;
	width: 53px;
	overflow: hidden;
	text-decoration: none;
	z-index: 1;
	vertical-align: -1px;
	vertical-align: -3px!ie;
}
.content a.button {
	text-decoration: none;
}
a.button:hover {
	cursor: hand;
}
.ff3 a.button {
	vertical-align: -7px;
	z-index: 0;
}
a.button .lft {
	display: inline;
	position: relative;
	width: 7px;
	height: 24px;
	background: url(http://static.gal6.com/Themes/images/strechy_but_left_general.gif) no-repeat;
	float: left;
}
a.button .rgt {
	display: inline;
	position: relative;
	width: 7px;
	height: 24px;
	background: url(http://static.gal6.com/Themes/images/strechy_but_right_general.gif) no-repeat;
	float: right;
}
a.button .txt {
	background: url(http://static.gal6.com/Themes/images/strechy_but_mid_general.gif) repeat-x;
	padding-top: 6px;
	width: 39px;
	height: 24px;
	float: left;
	font: normal normal 10px Verdana,Arial,Helvetica;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
}
a.button:hover .lft {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_left_general_on.gif) no-repeat;
}
a.button:hover .rgt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_right_general_on.gif) no-repeat;
}
a.button:hover .txt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_mid_general_on.gif);
}
a.button.feature-disabled:hover .lft {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_left_general.gif) no-repeat;
}
a.button.feature-disabled:hover .rgt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_right_general.gif) no-repeat;
}
a.button.feature-disabled:hover .txt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_mid_general.gif);
}
a.button.disabled:hover .lft {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_left_general.gif) no-repeat;
}
a.button.disabled:hover .rgt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_right_general.gif) no-repeat;
}
a.button.disabled:hover .txt {
	background: transparent url(http://static.gal6.com/Themes/images/strechy_but_mid_general.gif);
}
a.button.disabled {
	cursor: not-allowed;
}
a.icon .txt {
	padding-top: 2px;
}
a.button img {
	vertical-align: -5px;
}
a.width186 {
	width: 186px;
}
a.width186 .txt {
	width: 172px;
}
a.width136 {
	width: 136px;
}
a.width136 .txt {
	width: 122px;
}
a.width100 {
	width: 100px;
}
a.width100 .txt {
	width: 86px;
}
a.width80 {
	width: 80px;
}
a.width80 .txt {
	width: 66px;
}
a.width53 {
	width: 53px;
}
a.width53 .txt {
	width: 39px;
}
a.width40 {
	width: 40px;
}
a.width40 .txt {
	width: 26px;
}
a.testcss {
	padding-left: 10px;
}
/*
button {
	background: none;
	border: none;
	position: relative;
    display: -moz-inline-box;
    display: inline-block;
  	height: 25px;
	margin: 0px;
	overflow: hidden;
	text-decoration: none;
	z-index: 1;
}
button div.lft {
	display: inline;
	position: absolute;
	width: 12px;
	height: 25px;
	left: 0px;
	top: 0px;
	background: url(http://static.gal6.com/Themes/images/button_digtrox.gif) top left;
}
button:hover div.lft {
	background-position: bottom left;
}
button div.txt {
	height: 25px;
	font: normal normal 10px Verdana,Arial,Helvetica;
	text-align: center;
	color: #FFFFFF;
	margin: 0px 12px;
	background: url(http://static.gal6.com/Themes/images/button_digtrox.gif) top center;
}
button:hover div.txt {
	background-position: bottom center;
}
button div.rgt {
	position: absolute;
	width: 12px;
	height: 25px;
	top: 0px;
	right: 0px;
	background: url(http://static.gal6.com/Themes/images/button_digtrox.gif) top right;
}
button:hover div.rgt {
	background-position: bottom right;
}
*/

