
#alliance_navigator div {
	width: 298px;
	margin: 0px auto 10px;
	overflow: hidden;
}
#alliance_navigator input.text {
	text-align: center;
	width: 132px;
	margin: 0px 4px 0px 5px;
}
#alliance_navigator .button {
	margin: 0px 10px;
}
#alliance_navigator a.button.width136 {
	margin-left: 78px;
	margin-right: 4px;
}

