
#member_join table {
	margin-right: 60px;
}
#members .col4 {
	width: 160px;
}
#members .col7 {
	width: 80px;
}
#members .col5,
#members .col6 {
	width: 40px;
	text-align: center;
}
table tr.mow td.col2 {
	background-image: url(http://galacticax.com/Themes/images/vallap_red.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
table tr.gc td.col2 {
	background-image: url(http://galacticax.com/Themes/images/vallap_blue.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

