
#alliance_profile_content {
	width: 680px;
	margin: 10px auto;
}
#alliance_profile .profile {
	margin-top: 10px;
}
#alliance_profile .profile td.col-planetname a.flag img {
	margin-left: 5px;
	vertical-align: -1px;
}
#alliance_profile .profile td.col3,
#alliance_profile .profile td.col5,
#alliance_profile .profile td.col6 {
	vertical-align: top;
	color: white;
}
#alliance_profile .profile th {
	text-align: center;
}
#alliance_profile #rules .content {
	o-verflow-x: scroll;
	padding: 10px;
	margin: 0px;
	h-eight: 200px;
}
#alliance_profile #rules .content blockquote {
	margin-left: 4em;
}
#alliance_profile #rules .content h3 {
	margin-bottom: 0.5em;
}
.popup_general #alliance_navigator {
	display: none;
}
.popup_general #alliance_profile .combobar {
	display: none;
}

