
#alliance_members .col2 img {
	margin-right: 5px;
	vertical-align: -5px;
}
#alliance_members .col7 {
	text-align: center;
}
#alliance_members table tr td img.honour {
	opacity: 0.0;
	filter: alpha(opacity=0);
	-moz-opacity: 0.0;
}
#alliance_members table tr td img.active {
	opacity: 1;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
}
table tr.mow td.col2 {
	background-image: url(http://galacticax.com/Themes/images/vallap_red.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
table tr.gc td.col2 {
	background-image: url(http://galacticax.com/Themes/images/vallap_blue.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
#alliance_members table {
	margin-top: 10px;
}

