
#alliance_development #table1 .col1 {
	width: 224px;
}
#alliance_development #table1 .col3 {
	width: 140px;
	text-align: center;
}
#alliance_development tr.done .col3 {
	font-weight: bold;
}
#alliance_development tr.under_construction .col3 {
	color: #808080;
}
#alliance_development #tablegroup {
	width: 580px;
	margin: 0px auto;
}
#alliance_development #table2 {
	width: 544px;
}
#alliance_development #tablegroup table {
	float: left;
}
#alliance_development table {
	margin-bottom: 10px;
}
#alliance_development #tablegroup .col1 {
	width: 140px;
}
#alliance_development #tablegroup .col2,
#alliance_development #tablegroup .col3,
#alliance_development #tablegroup .col4 {
	width: 120px;
}

