
#alliance_treasury table {
	width: 750px;
	margin: 0px auto;
}
#alliance_treasury .sum td {
	font-weight: bold;
}
#alliance_treasury .col2,
#alliance_treasury .col3,
#alliance_treasury .col4,
#alliance_treasury .col5 {
	text-align: right;
	width: 100px;
}
#alliance_treasury .col6 {
	text-align: center;
	background-color: transparent;
}
#purchased_alliance_extras table {
	margin:0 auto;
	width:620px;
}
.credit_date {
	text-align:right;
}


#tax_settings #tax_value {
	width: 60px;
}


#treasury_transfer_to_planet_content {
	width: 90%;
	margin: 10px auto;
}
#treasury_transfer_to_planet .col1,
#treasury_transfer_to_planet .col2,
#treasury_transfer_to_planet .col3 {
	width: 90px;
}

