
#news table {
	margin-top: 10px;
}

.bullettin-board .battle_participants th,
.bullettin-board .battle_participants td {
	padding: 0px 3px;
}
.battle_participants .col1 img {
	margin-right: 3px;
	vertical-align: -5px;
}
.bullettin-board .battle_participants .col1 {
	padding-left: 0px;
	width: 230px;
}
.bullettin-board .battle_participants .col3 {
	width: 65px;
}
.bullettin-board .battle_participants .col5 {
	width: 80px;
}

.spyreport .economy {
	width: 320px;
}
.spyreport .economy .col1 {
	width: 180px;
}
.spyreport .fleet-details .col3,
.spyreport .fleet-details .col4,
.spyreport .fleet-details .col5,
.spyreport .fleet-details .col6,
.spyreport .fleet-details .col7 {
	width: 60px;
}
.spyreport .fleet-status .col1 {
	width: 80px;
}

