
#messages table {
	margin-top: 10px;
}
#messages .col1,
#messages .col4,
#messages .col5 {
	text-align: center;
}
#messages .col1 img {
	margin: 0px;
}
#messages td img {
	border: none;
}
#messages tr.unread td a,
#messages tr.unread td {
	font-weight: bold;
}

