
.columnfirst {
	width: 250px;
	float: left;
}
.columnnext {
	width: 346px;
	float: left;
	margin-left: 10px;
}

.columnfirst .columnnext {
  margin-left: 0;
  width: auto;
  float:none;
}

.columnbottom {
	width: 702px;
	float: left;
	margin-left: 10px;
}
.columntop {
	width: 519px;
	float: left;
	margin-left: 0px;
}
#scan .layout .contents {
    margin: 0px;
    padding: 0px;
}
#bvr .layout .contents,
#ships .layout .contents {
	margin: 0px;
	padding: 0px;
}
#central_resources_content {
	text-align: center;
	margin-top: 0px;
}
#central_resources .content a {
	text-decoration: none;
	color: #ffe3a5;
	font-size: 10px;
}
#central_resources .content a:hover {
	text-decoration: underline;
}
#gal6_news {
	background-color: #212121;
}
#page.profilbox #contents #command_center_wrapper .panel
{
	width: auto;
	font-size: 10px;
}
#command_center_wrapper p {
	font-size: 10px;
}
#command_center_wrapper a {
	font-size: 10px;
}
#command_center_wrapper td,
#command_center_wrapper th {
	font-size: 10px;
}


#command_center_buddy_list .col2 {
	text-align: center;
	width: 60px;
}
#command_center_buddy_list .col3 {
	text-align: center;
	width: 50px;
}
#command_center_buddy_list_content {
	overflow-y: scroll;
	margin: 0px;
	height: 200px;
}


#communication .col1,
#fleet_status .col1,
#technology .col1,
#roids .col1 {
	color: #ffe3a5;
}
#communication .col2,
#fleet_status .col2,
#technology .col2,
#roids .col2,
#roids .col3 {
	text-align: right;
	color: white;
}
#fleet_status .col1 {
	width: 70px;
}
#presidential_messages_content,
#alliance_news_content {
	overflow: auto;
	margin: 0px;
	padding: 10px;
	/*height: 120px;*/
}


#bvr .col1 {
	color: #ffffff;/*#ffe3a5;*/
}
#bvr .col2 {
	text-align: right;
	width: 60px;
}


#ships thead {
	display: none;
}
#ships table .col3 {
	width: 60px;
}
#ships table tr.disabled td,
#ships table tr.disabled td img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}

