
#new_message .coord {
	width: 38px;
	text-align: center;
	margin: 0px 5px 0px 5px;
	padding-left: 0px;
	padding-right: 0px;	
}
#new_message select {
	margin-right: 48px;
	width: 180px;
}
#new_message #subject {
	width: 440px;
}

