
#credit_send table {
	width: 95%;
	float: right;    
}
#credit_send tbody th {
	width: 180px;
	white-space: nowrap;
    text-align:center;	
}
#credit_send .col2 {
	width: 160px;
    text-align:center;	 
}
#credit_send .col7 {
	background-color: transparent;
	text-align: center;
}
#credit_send_alliance table {
	width: 90%;
	float: right;
}
#credit_send_alliance tbody th {
	width: 180px;
	white-space: nowrap;
}
#credit_send_alliance .col6 {
	width: 100px;
}
#credit_send_alliance .col7 {
	background-color: transparent;
	text-align: center;
}



form div.verticalform input.text,
form div.verticalform select {
	margin-right: 0px;
}
form div.verticalform .field,
form div.verticalform label,
form div.verticalform .control,
form div.verticalform .part
{
	display: block;
	text-align: center;
	float: none;
	clear: both;
	width: auto;
	margin: 0px auto;
}
form div.verticalform .combobar {
	margin: 0px auto;
}
form div.verticalform .combobar a.button {
	position: relative;
	float: none;
	clear: both;
	display: block;
	margin: 0px auto 10px!important;
}

form div.verticalform1 input.text,
form div.verticalform1 select {
	margin-right: 0px;
}
form div.verticalform1 .field,
form div.verticalform1 label,
form div.verticalform1 .control,
form div.verticalform1 .part
{
	display: block;
	text-align: center;
	float: none;
	clear: both;
	width: auto;
	margin: 0px auto;
}
form div.verticalform1 .combobar {
	margin: 0px auto;
}
form div.verticalform1 .combobar a.button {
	position: relative;
	float: none;
	clear: both;
	display: block;
	margin: 0px auto 10px!important;
}

.extra-entry {
	position: relative;
	display: block;
}
.extra-entry h4,
.extra-entry .cost,
.extra-entry .control,
.extra-entry li {
	font-size: 11px;
	font-weight: normal;
	display: block;
	margin: 0px;
	padding: 0px;
}
.extra-entry img {
	margin-top: 3px;
}
.extra-entry .cost {
	font-weight: bold;
}
.extra-entry ul {
	list-style: none;
	text-align: left;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}
#raw_material_extra .extra-entry {
	height: 110px;
	text-align: center;
}
#raw_material_extra .extra-entry .cost,
#raw_material_extra .extra-entry .control {
	position: absolute;
	/*top: 60px;*/
	left: 0px;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}
#raw_material_extra .extra-entry .control input {
	text-align: right;
	margin-right: 10px;
}
#raw_material_extra .extra-entry .control {
	font-weight: normal;
	top: 80px;
}
#raw_material_extra form div.verticalform {
	margin: 0px auto;
	/*margin-top: 60px;*/
}
#raw_material_extra .column-wrapper {
	background-color: #212121;
}
#raw_material_extra .last .column-wrapper {
	background-color: transparent;
}


#technology_extra .column-wrapper {
	background-color: #212121;
}
#technology_extra .extra-entry {
	margin: 10px 0px;
}
#technology_extra .control {
	width: 120px;
	text-align: center;
	color: #808080;
	font-weight: bold;
	position: absolute;
	right: 0px;
	top: 0px;
	right: 15px!ie;
	float: right;
}
#technology_extra .control .button {
	float: right;
}


.planet_extra .column .label,
.planet_extra .column .description,
.planet_extra .column .value {
	text-align: center;
	display: block;
	margin: 10px 0px;
}
.planet_extra .column .value {
	font-weight: bold;
}
.planet_extra .column-wrapper {
	background-color: #212121;
}
.planet_extra h4 {
	font-size: 11px;
	margin: 0px;
}
.planet_extra p {
	margin: 0px 0px 10px 0px;
}
.planet_extra .extra-entry {
	margin: 14px 0px;
}
.planet_extra .control {
	position: absolute;
	right: 0px;
	right: 15px!ie;
	top: 0px;
}
.planet_extra #middle {
	width: 22.2%;
}
.planet_extra #middle .contents {
	padding: 37px 0px;
}
.planet_extra #first {
	width: 44.4%;
}
.planet_extra #first .contents {
	padding-bottom: 20px;
}
.planet_extra #first1 .contents {
	padding-bottom: 37px;
}

.ie .planet_extra #first .contents {
	padding-top: 30px;
	padding-bottom: 30px;
}
.ie .planet_extra #first1 .contents {
	padding-top: 47px;
	padding-bottom: 47px;
}
.planet_extra #second {
	width: 69.9%;
}
.planet_extra #second .contents {
	padding: 5px 0px;
}

.planet_extra #extra_parcel {
	background: url(http://galacticax.com/Themes/images/extra/box_general.gif) no-repeat;
	height: 70px;
	width: 72px;
	margin: 0px auto;
}
ul.planet_extra_features {
	background: transparent url(http://galacticax.com/Themes/images/extra/planet_extra_box_khaduuii.png) 0px center no-repeat;
	list-style: none;
} 
ul.planet_extra_features li {
	margin: 14px 0px 0px 140px;
}
ul.planet_extra_features li a {
	text-decoration: none;
	color: #b0b0b0;
}
ul.planet_extra_features li a:hover {
	text-decoration: underline;
}
.ie .planet_extra .extra-entry {
	margin-top: 26px;
	margin-bottom: 16px;
}
.ie .planet_extra .extra-entry .control {
	right: 0px;
}
.ie .planet_extra .extra-entry .button {
	margin-right: 0px;
}


#galaxy_extra .column-wrapper {
	background-color: #212121;
}
#galaxy_extra .extra-entry {
	margin: 10px 0px;
}
#galaxy_extra .extra-entry .cost {
	margin-bottom: 10px;
}
#galaxy_extra .control {
	clear: both;
}
#galaxy_extra .control .button {
	margin-left: 86px;
	margin-right: 0px;
}
#galaxy_extra .control .coord {
	width: 38px;
	text-align: center;
	margin: 0px 5px 0px 5px;
	padding-left: 0px;
	padding-right: 0px;	
}
#galaxy_extra .control .firstcoord {
	margin-left: 0px;	
}

#galaxy_extra_a .column-wrapper {
	background-color: #212121;
}

#tax_extra .column-wrapper {
    background-color: #212121;
}

#galaxy_extra_a .extra-entry {
	margin: 10px 0px;
}
#galaxy_extra_a .extra-entry .cost {
	margin-bottom: 10px;
}
#galaxy_extra_a .control {
	clear: both;
}
#galaxy_extra_a .control .button {
	margin-left: 472px;
	margin-right: 0px;
}
 
#galaxy_extra_a .control .coord {
	width: 38px;
	text-align: center;
	margin: 0px 5px 0px 5px;
	padding-left: 0px;
	padding-right: 0px;	
}
#galaxy_extra_a .control .firstcoord {
	margin-left: 0px;	
}

.closegtext {
	color:#FFE3A5;
}
#cgaltxt {	
	margin-bottom:5px;
}
#cgaltxt1 {	
	margin-top:5px;
}

#tax_extra_content {
    background-color: #212121;
}
#tax_extra .extra-entry {
    margin: 10px 10px;
}
#tax_extra .extra-entry .cost {
    margin-bottom: 10px;
}
#tax_extra .combobar {
    display: block;
    width: auto;
    margin-left: 10px;
    margin-right: 22px;
}
#tax_extra_a  {
    margin-bottom:10px;
}

#region_extra_content {
	background-color: #212121;
}
#region_extra .extra-entry {
	margin: 10px 10px;
}
#region_extra .extra-entry .cost {
	margin-bottom: 10px;
}
#region_extra .combobar {
	display: block;
	width: auto;
	margin-left: 10px;
	margin-right: 22px;
}
#region_input {
	width: 200px;
}
#region_extra_a  {
	margin-bottom:10px;
}
.cgalaxy {
	color:#FFE3A5;
}
#galaxy_extra_a .control .firstcoord {
margin-bottom:5px;
margin-left:0;
margin-top:5px;
}
#galaxy_extra_a .control .button  {
margin-left:648px;
margin-right:0;
}

