
#credit_checkout_process .content {
	width: 480px;
	margin: 10px auto;
}
#page.profilbox #contents #credit_checkout_process .content .panel {
	width: auto;
}
#credit_checkout_process .content .content {
	width: 360px;
	margin: 10px auto;
}
#credit_checkout_process td {
	background-color: transparent;
	border: none;
	vertical-align: top;
	padding: 4px 0px;
	font-size: 11px;
}
#credit_checkout_process table {
	margin-bottom: 10px;
}
#credit_checkout_process p.checkcode {
	font-weight: bold;
}


#credit_checkout_sms_transfer p span.smscode {
	padding: 2px;
	background-color: #454545;
	white-space: pre;
	margin-right: 5px;
}
#credit_checkout_sms_transfer sup {
	color: red;
}
#credit_checkout_sms_transfer .panel-message {
	color: red;
}

