

#credit_extra_help_content {
	height: 470px;
	width: 765px;
}
div.tabpage {
	visibility: hidden;
	position: absolute;
	top: 110px;
	left: -10px;
	display: block;
	clear: both;
	height: 370px;
	width: 100%;
	background: url(http://galacticax.com/Themes/images/credit_extra_all/background.jpg) repeat-x top;
}
div.tabtext {
	float: right;
	width: 240px;
	margin-right: 20px;
}
ul.tablist {
	height: 95px;
}
ul.tablist li {
	float: left;
	display: block;
	height: 95px;
	width: 92px;
	margin-right: 1px;
}
ul.tablist li a {
	display: block;
	text-align: center;
	width: 80px;
	height: 35px; /* 95px - 58px - 2px */
	background-color: #212121;
	border: 1px solid #2f2f2f;
	border-top-color: #4b4b4b;
	border-bottom-color: #090909;
	text-decoration: none;
	padding: 58px 5px 0px 5px;
	background-position: left 8px;
	background-repeat: no-repeat;
}
ul.tablist li a.active,
ul.tablist li a:hover {
	background-color: #333333;
	background-position: right 8px;
	text-decoration: none;
	color: white;
}
#credit_extra_strat_map {
	background-image: url(http://galacticax.com/Themes/images/credit_extra_all/credit_extra_strat_map.gif);
}
#credit_extra_stat_graph {
	background-image: url(http://galacticax.com/Themes/images/credit_extra_all/credit_extra_stat_graph.gif);
}
#credit_extra_delay {
	background-image: url(http://galacticax.com/Themes/images/credit_extra_all/credit_extra_delay.gif);
}
#credit_extra_sup_prod {
	background-image: url(http://galacticax.com/Themes/images/credit_extra_all/credit_extra_sup_prod.gif);
}
#credit_extra_rename_fleet {
	background-image: url(http://galacticax.com/Themes/images/credit_extra_all/credit_extra_rename_fleet.gif);
}
#credit_extra_4th_fleet {
	background-image: url(http://galacticax.com/Themes/images/credit_extra_all/credit_extra_4th_fleet.gif);
}
#credit_extra_extra_ships {
	background-image: url(http://galacticax.com/Themes/images/credit_extra_all/credit_extra_extra_ships.gif);
}
#credit_extra_battle_balance {
	background-image: url(http://galacticax.com/Themes/images/credit_extra_all/credit_extra_battle_balance.gif);
}
#credit_extra_help h3 {
	font-size: 20px;
}
#credit_extra_help .tabpage p {
	margin-top: 20px;
}
#credit_extra_help .tabpage img {
	border: none;
	float: left;
}

