
#technology .column {
	width: 14.15%;
	float: left;
	margin-left: 1px;
}
.ie6 #technology .column {
	width: 14.10%;
}
#technology .column h3 {
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-size: 10px;
	margin: 0px 0px 4px 0px;
}
#technology .column .entry {
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: #212121;
	height: 126px;
	text-align: center;
	color: #ffe3a5;
	font-weight: normal;
	font-size: 10px;
	padding-top: 10px;
	margin-bottom: 1px;
}
#technology td {
	background-color: transparent;
}
#technology .column .entry h4 {
	font-weight: normal;
	text-decoration: underline;
	font-size: 10px;
	margin: 0px;
	height: 13px;
}
#technology .column .ready-to-build {
	background-color: #1c1c1c;
}
#technology .column .under-construction p {
	color: #b00000;
}
#technology .column .done {
	background-color: #333333;
}
#technology .column .icon-done {
	position: absolute;
	bottom: 3px;
	left: 6px;
}
#technology .column .done .status {
	color: #00cf13;
}
#technology .column .entry table {
	width: 95px;
	margin: 14px auto 5px auto;
}
#technology .column .entry tr.odd,
#technology .column .entry tr.even {
	background-color: transparent;
	height: 12px;
}
#technology .column .entry td {
	border: none;
	font-size: 10px;
	padding: 0px;
}
#technology .column .entry td.col1 {
	text-align: left;
}
#technology .column .entry td.col2 {
	text-align: right;
}
#technology .column .entry p {
	width: 100%;
	text-align: center;
	font-size: 10px;
	margin: 0px 0px 5px 0px;
}
#technology .column .entry div.status {
	font-weight: 800;
	font-size: 10px;
	margin: 10px 0px 5px 0px;
}
#technology .entry h4 a {
	color: inherit!important;
	font-size: 10px;
}
#technology .entry h4 a:hover {
	color: white!important;
}

