
#launch_roid_sat_content {
	width: 240px;
	margin: 10px auto;
}
#launch_roid_sat table td {
	text-align: center;
}
#launch_roid_sat tfoot td {
	padding-top: 10px;
	background-color: transparent;
}


#claim_asteroid table {
	width: 600px;
}
#claim_asteroid .col1,
#claim_asteroid .col2,
#claim_asteroid .col3 {
	text-align: center;
	width: 70px;
}
#claim_asteroid .col5 {
	width: 120px;
	padding: 0px;
	text-align: center;
	background-color: transparent;
}
#claim_asteroid .col6 {
	background-color: transparent;
	padding: 0px;
	width: 100px;
}
#claim_asteroid input {
	text-align: right;
}


#raw_material_transfer .col-num {
	width: 80px;
}
#raw_material_transfer .col5 {
	width: 180px;
}
#raw_material_transfer th.col5 {
	text-align: center;
	background-color: transparent;
}
#raw_material_transfer .col6 {
	width: 100px;
	padding: 0px 0px 0px 10px;
	background-color: transparent;
}


#market table {
	margin-bottom: 10px;
	width: 600px;
}
#market table .col2,
#market table .col3,
#market table .col4 {
	width: 110px;
	text-align: center;
	color: white;
}
#market_change select {
	width: 150px;
	margin-right: 20px;
}

