
#galaxy_profile_content {
	width: 680px;
	margin: 10px auto;
}
#galaxy_profile .profile {
	margin-top: 10px;
}
#galaxy_profile .profile td.col-planetname a.flag img {
	margin-left: 5px;
	vertical-align: -1px;
}
#galaxy_profile .profile .col3 {
	text-align: center;
}
#alliances .col3 img {
	margin-right: 5px;
	vertical-align: -5px;
}
#alliances .col7 img {
	margin: 0px 1px 0px 0px;
}
#alliances .col7 {
	text-align: center;
}
.popup_general #galaxy_navigator {
	display: none;
}
.popup_general #galaxy_profile .combobar {
	display: none;
}

