
#mentor table {
	width: 60%;
	margin-bottom: 10px;
}


#available_mentors .col7 {
	width: 40px;
	text-align: center;
}
#available_mentors .col2 {
	width: 90px;
}
#available_mentors .col6 {
	width: 120px;
}

