

/*
#news hr {
	height: 0px;
	display: block;
	border: none;
	border-bottom: 1px solid #464646;
	margin: 6px 10px 6px 0px;
	clear: both;
}
#news .article h3 {
	margin-top: 0.25em;
}
#news .article h3 {
	margin-top: 0.25em;
}
#news .article-teaser .category-link {
	float: left;
	margin-right: 10px;
}

#news_right_panel {
	width: 250px;
}
#news_right_panel .pager {
	margin-left: 10px;
	margin-right: 10px;
}
#news_right_panel h3 {
	background-color: #1c1c1c;
	margin: 10px 0;
	padding: 0.5em 0.25em;	
}
#news_right_panel h4 {
	margin: 0 0 0.5em 0;
}
.portal-typo .content h2 a,
.portal-typo .content h2 a:hover {
	color: white;
}
*/
.news-2-column .content {
/*	background: url(../../Themes/images/portal_news_vertical_rulers2.gif) 667px 0px repeat-y;*/ 
}
.news-3-column .content {
/*	background: url(../../Themes/images/portal_news_vertical_rulers2.gif) 326px 0px repeat-y;*/
}
div.article {
/*	position: relative;*/
	display: block;
	min-height: 70px;
}
.ie div.article {
/*	height: 70px;*/
}
.ie7 div.article {
	height: auto;
}
.article .g6t {
	color: #07b836;
	display: inline;
/*	float: right;*/
	float: left;
	margin-right: 10px;
}
#news_column_12 .article .g6t {
	float: left;
	margin-right: 10px;
}
#news_column_1 .article .g6t,
#news_column_2 .article .g6t {
	float: right;
	margin-right: 0;
}

.article_title_list .g6t {
	color: #07b836;
	display: inline;
/*	float: right;*/
	margin-right: 3px;
}
.grey {
	color: #282828;
}
li.article .author {
	margin-bottom: 0px;
}
ol.article-search-results li.article p.lead {
	color: #bbbbbb;
	font-size: 11px;
}
.panel .content p.lead-with-avatar {
	margin-left: 95px;
	position: relative;
	min-height: 70px;
	clear: both;
	display: block;
}
.ie .panel .content p.lead-with-avatar {
	height: auto;
}
.article .avatar {
	border: 1px solid #464646;
	margin-left: -95px;
	float: left;
	margin-bottom: 0.5em;
/*	position: absolute;*/
	top: 0px;
	left: 0px;
}
.article .middlepic {
	width: 100%;
	text-align: center;
	height: 137px;
}
.article .middlepic img {
	border: 1px solid #464646;
	margin-bottom: 0.5em;
	width: 184px;
	height: 137px;
}
#news_column_12 .article .middlepic {
	width: 100%;
	text-align: center;
	height: 197px;
	margin: 25px 0;
}
#news_column_12 .article .middlepic img {
	border: 1px solid #464646;
	width: 264px;
	height: 197px;
}
.article  h4 {
	margin-top: 0px;
}
.article-lead {
	float: left;
	display: block;
	width: 240px;
}
.article-lead h4 {
	margin-top: 0px;
}
#news .article h3,
#news .article h4 {
	display: block;
	clear: both;
}
#news_column_12 h3,
#news_column_1 h3,
#news_column_2 h3,
#archive h3,
#news_column_12 h3 a,
#news_column_1 h3 a,
#news_column_2 h3 a,
#archive h3 a
 {
	font-size: 17px;
	margin: 0.5em 0;
}

#news .article h3,
#news .article p {
	margin-bottom: 0.5em;
}
#news .article .control {
	float: right;
}
#news_column_1 h3,
#news_column_1 h3 a {
	font-size: 17px;
}
#news_column_3 h3,
.article_title_list h3 {
	font-size: 17px;
	color: white;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#news_column_12 {
	border-right:1px solid #464646;
	display:block;
	float:right;
	padding-right: 10px;
	width: 645px;
	margin-top: 10px;
/*	padding-bottom: 24px;*/
}
#news_column_1 {
	border-right:1px solid #464646;
	display:block;
	float:right;
	padding-right: 10px;
	width: 316px;
/*	padding-bottom: 24px;*/
}


.ie7 #news_content #news_column_1 div.article {
	height: auto;
}
#news_column_3 {
	float: right;
	width: 285px;
	margin-left: 10px;
}
#news_column_2 {
	border-right:1px solid #464646;
	float: right;
/*	width: 295px;*/
	width: 309px;
	margin-left: 10px;
	padding-right: 10px;
}

#news_column_3 .article .g6t,
#news_column_3 .article p {
	display: none;
}
#news ul.article li {
	margin-left: 15px;
}
#news ul.article li a {
	font-size: 11px;
	font-weight: normal;
	color: white;
}
#news .list_element {
	margin-bottom: 2px;
}
#news .list_element a {
	font-size: 11px;
	font-weight: normal;
	color: #AEAEAE;
}

#news_column_3 .greybox {
	margin-bottom: 10px;
}

#news_column_3 .rsslayer {
	background-color: #282828;
	height: 25px;
	margin-bottom: 10px;
	padding: 4px 0 4px 0;
	font-size: 12px;
	font-weight: bold;
/*	vertical-align: middle;*/	
	text-transform: uppercase;
} 
#news_column_3 .rsslayer img {
	float: left;
	margin: 0 4px 0 4px;
	border: none;
} 
div.rsslayer a.help {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(http://galacticax.com/Themes/images/button_help_general.gif) no-repeat scroll 0 0;
	display:block;
	height:14px;
	overflow:hidden;
	text-indent:-100px;
	width:19px;
	float: right;
	margin-right: 5px;
}


#news_column_3 .rsslayer a {
	font-size: 12px;
	color: white;
	margin: 0;
	padding: 0;	
	position: relative;
	top: 4px;
}
#news_column_3 #search_term {
	width: 144px;
}
.ie #news #imagebar-registration-button {
	left: 0;
	text-indent: 0;
	color: transparent;
}
.ie #news #imagebar-registration-button span {
	color: transparent;
}

#news_column_3 div.article {
	margin-bottom: 5px;
/*	padding-bottom: 5px; */
/*	border-bottom: 1px solid #414141; */
	min-height: 0px;
}
#news_column_3 div.articlelist {
	margin: 0;
	background-color: #282828;
	padding: 5px 5px 32px 5px; 
}
#news_column_3 div.articlelist h3,
#news_column_1 div.article_title_list h3 {
	margin-bottom: 0.5em;
}

ol.article-search-results {
	margin-left: 1em;
}
ol li.article {
	margin-left: 2em;
}
p em {
	font-weight: bold;
	color: #ffe3a5;
}
div.article p em {
	font-style: italic;
	font-weight: inherit;
	color: white;
}
.article a.author {
	color: #c2b8a6;
/*	padding-left: 5px;*/
	padding-right: 10px;
}
.article a.read-more {
	padding-left: 5px;
	margin:5px 5px 10px 10px;
/*	padding-right: 5px;*/
	float: right;
}
.article a.authors-alliance {
	color: #867963;
/*	padding-left: 5px;*/
	padding-right: 10px;
}
.article a.author:hover,
.article a.authors-alliance:hover {
	color: white;
}

.article_title_list h3 a {
	font-size: 11px;
	color: white;
	font-weight: normal;
}

#news h2 {
	display: none;
}
#news .panel h2 {
	display: block;
}
#news_pager a.prevpage,
#comments_pager a.prevpage {
	background: transparent url(http://galacticax.com/Themes/images/buttons/back_btn_general.gif) no-repeat;
	text-indent: -100px;
	height: 20px;
	width: 26px;
	vertical-align: -5px;
}
#news_pager a.nextpage,
#comments_pager a.nextpage {
	background: transparent url(http://galacticax.com/Themes/images/buttons/forward_btn_general.gif) no-repeat;
	text-indent: -100px;
	height: 20px;
	width: 26px;
/*	margin-left: 8px;*/
	vertical-align: -5px;
	margin-right: 0px;
}
#news_pager a.button span,
#comments_pager a.button span {
	background: transparent;
}	
#news .page-summary {
	color: white;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}
#news_pager {
	clear:both;
	margin-right:10px;
/*	position: absolute; */
/*	right: 300px;*/
/*	z-index: 1000;*/
}
.ie #news_pager {
/*	position: absolute;*/
/*	right: 290px;*/
}
#news_pager .pagenum,
#comments_pager .pagenum {
/*	padding-right: 5px;*/
	text-align: center;
	display: inline!important;
	position: relative;
}

#news_pager .button,
#news_pager input,
#comments_pager .button,
#comments_pager input {
	margin: 0;
}
#news_pager input,
#comments_pager input {
	width: 20px;
	padding: 0;
}

#news_column_2 .combobar {
	margin-top: 0px;
}
#news_column_2 .combobar #imagebar-registration-button {
	margin-bottom: 10px;
}

#similar_articles {
	background:transparent url(../images/similar_bg_bottom.png) no-repeat scroll left bottom;
	padding-bottom:6px;
	width:320px;
}
#similar_articles_content {
	background:transparent url(../images/similar_bg_top.png) no-repeat scroll left top;
/*	margin-bottom:6px;*/
	padding:6px 6px 0 6px;
	width:320px;
	min-height: 24px;
}
#similar_articles_content p,
#similar_articles_content p a {
	margin: 0;
	padding: 0;
	list-style: circle;
	list-style-type: circle;
	color: #AEAEAE;
}

/* NEWS_COMMENT */
#news_comments {
	border-width: 0;
	color: #BBBBBB;
	font-family: Verdana, sans-serif;
	font-size: 11px;
}
#news_comments h2 {
	background: none;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-weight: normal;
}

.news_comment_block {
	display:table;
	width:100%;
	margin-bottom:10px;
/*	color: white;*/
}
.news_comment_block .comment {
	display:table;
}
.news_comment_avatar {
	float:left;
	/*margin-bottom:10px;*/
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
	width: 84px;
	height: 65px;
}
.news_comment_avatar img {
	border: solid 1px #666666! important;
	height: 63px;
	margin: 0px;
}
.news_comment_g6t {
	color: #02B234;
}
.news_comment_block .g6t {
	color: #02B234;
}
.news_comment_title a,
.news_comment_planet a {
	color: #999999;
	margin-left:10px;
}

.news_comment_alliance {
	color: #867963;
}

#newscomment_login_container {
	text-align: center;
	color: red;
	font-weight: bold;
}

#newscomment_login_section {
	background: url(http://galacticax.com/Themes/images/news_login_bg.jpg) no-repeat;
	height: 62px;
	padding: 5px 0 0 62px;
	width:518px;
	overflow: hidden;
	margin-left: 35px;
	color: white;
}
#newscomment_login_section .field {
	padding: 0;
}
#newscomment_login_section input {
	width: 160px;
}

#newscomment_login_submit {
	margin-right: 125px;
}
#news_comments form.labels100px textarea {
	width: 523px;
}
#news_comments form.labels100px label {
	float: left;
	width: 80px;
}

#news_comments form .control .characterCountdownIndicator {
	color: #FFE4A6;
}

/* ARCHIVE */
#archive .news-2-column .content {
	background: url(http://galacticax.com/Themes/images/portal_news_vertical_rulers.gif) 690px 0px repeat-y;
}

#archive div.article {
	position: relative;
	display: block;
	min-height: 70px;
}
.ie #archive div.article {
	height: 70px;
}
.ie7 #archive div.article {
	height: auto;
}
#archive .article .g6t {
	color: #07b836;
	display: inline;
	float: right;
/*	margin-right: 10px;*/
}

#archive {
	display: block;
	float: right;	
	width: 655px;
	padding-bottom: 24px;
	border-right:1px solid #464646;
}
#archive .article {
	padding-bottom: 10px;
	margin-bottom: 10px;
	clear: both;
	color: #BBBBBB;
}
#archive .article img {
	float: left;
	margin: 5px 10px;
}
#archive .article h4,
#archive .article h3 {
	/*float: left;*/
	clear: none;
	display: block;
	margin: 0 0 4px 0;
}

#archive .news-grouping {
	font-size: 11px;
	font-weight: normal;
	color: white;
	border-bottom: 1px solid grey;
	margin-top: 10px;
	padding-bottom: 8px;
}



