
.panel-message,
.panel-message-green {
	border: 1px solid red;
	padding: 10px 10px 10px 60px;
	margin-bottom: 10px;
	background: #212121 url(http://galacticax.com/Themes/images/guide/elso5.gif) 10px 10px no-repeat;
	margin-top: 10px;
	min-height: 38px;
	_height: 38px;
}
.panel-message-green {
	border-color: green;
}
.panel-message a,
.panel-message-green a {
	color: #ffe3a5;
	text-decoration: none;
}
.panel-message a:hover,
.panel-message-green a:hover {
	text-decoration: underline;
}
#choose-region-message {
	background-image: url(http://galacticax.com/Themes/images/icon_message_globe.gif);
	margin-top: 15px;
	margin-bottom: 0px;
}

