
.planet_seeker {
	padding: 10px;
	border: 1px solid #464646;
	background-color: #1c1c1c;
}
.planet_seeker #field_report_tick input.text {
	width: 40px;
	text-align: right;
}
.planet_seeker #field_coords input.text {
	width: 32px;
	margin-right: 0px;
	text-align: center;
}
.planet_seeker .oneliner #field_coords .control span.punct {
	margin: 0px 4px;
}
.planet_seeker .oneliner #field_coords .control input#coord4 {
	margin-right: 10px;
}
.planet_seeker .oneliner #field_coords .control .button {
	margin-right: 0px;
}

