
#planet_profile_content {
	width: 940px;
	margin: 10px auto;
}
#planet_profile .profile {
	margin-top: 10px;
}
#planet_profile .profile .col3 {
	text-align: center;
	width: 290px;
}
#planet_profile .profile a.flag img {
	margin-left: 5px;
	vertical-align: -1px;
}
#field_avatar p {
	padding-top: 10px;
	margin-left: 190px;
	clear: both;
}


#planet_profile_modify #slogan {
	width: 400px;
}


#planet_profile_checkins .col1,
#planet_profile_checkins .col4 {
	width: 115px;
}
#planet_profile_checkins .col3 {
	width: 89px;
}
#planet_profile_checkins .col3,
#planet_profile_checkins .col5 {
	text-align: center;
}
#planet_profile_checkins .col4 {
	text-align: center;
	color: white;
}
#planet_profile_checkins .col5 {
	padding: 1px;
}

