
#planet_navigator div {
	width: 346px;
	margin: 0px auto 10px;
	overflow: hidden;
}
#planet_navigator input.text {
	width: 32px;
	text-align: center;
	margin: 0px 4px 0px 5px;
}
#planet_navigator .button {
	margin: 0px 10px;
}
#planet_navigator a.width186 {
	margin-left: 78px;
	margin-right: 4px;
}


