#gal6 {
	width: 973px;
}

#portal_regbox {
    width: 591px;
    height: 200px;
}

#news {
	margin-right: 10px;
	margin-bottom: 0px;
    height: 810px;
    width: 370px;
}
#news_login {
    margin-right: 10px;
    margin-bottom: 0px;
    height: 672px;
    width: 370px;
}

#gal6 {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#news {
	width: 370px;
}
#news_login {
    width: 370px;
}
#news_content {
	height: 632px;
	position: relative;
}

#regbox_content {
    /*height: 632px;*/
    position: relative;
    margin-left: 10px;
}

#frm_registration input {
    width: 210px;
}

#regbox_table {
    /*width: 470px;*/
    border-spacing: 2px;
}

#regbox_terms a .popup_alliance {
    color: #FFE3A5;
}

#regbox_terms {
    color: white;
}

#gal6wrap {
	width: 360px;
	display: block;
	position: relative;
	height: 252px;
}
#gal6_content {
	margin-top: 0px;
}
#gal6.tickzero {
	background: url(http://galacticax.com/Themes/images/portal_main_counter_extension.jpg) -1px 0px no-repeat;
}
#gal6.notickzero {
	background: url(http://galacticax.com/Themes/images/portal_main_flash_extension.jpg) -1px 0px no-repeat;
}
#gal6 h2 {
	display: none;
}
#news .floatright {
	margin-left: 10px;
}
#news_login .floatright {
    margin-left: 10px;
}
#news .floatright a {
	clear: both;
	display: block;
	text-align: center;
}
#news_login .floatright a {
    clear: both;
    display: block;
    text-align: center;
}
#news .floatright img {
	width: 150px;
	border: 1px solid #464646;
	margin-bottom: 20px;
	display: block;
}
#news_login .floatright img {
    width: 150px;
    border: 1px solid #464646;
    margin-bottom: 20px;
    display: block;
}
#news .combobar {
	left: 0px;
	position: absolute;
	bottom: 2px;
    top: 735px;
}

#news_login .combobar {
    left: 0px;
    position: absolute;
    bottom: 2px;
    top: 594px;
}

.ie7 .panel {
	overflow:visible;
}
#gal6 {
	height: 250px;
  position: relative;
}
.portal-typo h3 {
	margin-top: 5px;
	margin-bottom: 0.25em;
}
#guide_content {
	height: 284px;
}
#flash {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 591px;
	height: 250px;
	background-color: #101010;
}
#gal6 p {
	color: white;
}
#gal6 .combobar {
	left: 0px;
	position: absolute;
	bottom: 17px;
}

.main-left { float: left; width: 380px; }
#facebook { margin-right: 8px; margin-bottom: 0px; margin-top: 0px; }
#facebook_login { margin-right: 8px; margin-bottom: 0px; margin-top: 0px; height: 225px; margin-top: 10px; }
#facebook_content { height: 260px; }
#facebook_content_login { height: 185px; }

.portal-typo h3.news-grouping {
	padding-bottom: 5px;
	color: white;
	font-weight: normal;
	font-size: 11px;
	border-bottom: 1px solid #464646;
	text-transform: uppercase;
}
.portal-typo h3.news-grouping#hot-news {
	margin-top: 20px;
}
.article-lead .g6t {
	display: inline;
	color: #07b836;
	margin-right: 5px;
}
.article-lead_login .g6t {
    display: inline;
    color: #07b836;
    margin-right: 5px;
}
.article-lead h4 {
	margin-top: 5px;
}
.article-lead_login h4 {
    margin-top: 5px;
}
.article-lead {
	min-height:50px;
	margin-bottom: 45px;
}
.article-lead_login {
    min-height:50px;
    margin-bottom: 15px;
}
.ie7 .article-lead {
	margin-bottom:10px;
}
.ie7 .article-lead_login {
    margin-bottom:10px;
}
.article-lead p .avatar {
	float: left;
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 5px;
	border: 1px solid #464646;
}
.article-lead_login p .avatar {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #464646;
}
.article-lead a.author {
	color: #c2b8a6;
	padding-left: 5px;
	padding-right: 5px;
}
.article-lead_login a.author {
    color: #c2b8a6;
    padding-left: 5px;
    padding-right: 5px;
}
.article-lead a.read-more {
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}
.article-lead_login a.read-more {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}
.article-lead a.authors-alliance {
	color: #867963;
	padding-left: 5px;
	padding-right: 5px;
}
.article-lead_login a.authors-alliance {
    color: #867963;
    padding-left: 5px;
    padding-right: 5px;
}
.article-lead a.author:hover,
.article-lead a.authors-alliance:hover {
	color: white;
}
.article-lead_login a.author:hover,
.article-lead_login a.authors-alliance:hover {
    color: white;
}
#article-in-spot {
	height: 125px;
}


.toplistbox {
	width: 189px;
	margin-right: 10px;
	float: left;
}
#top1_by_races.toplistbox .col1,
#top1_by_races.toplistbox .col1 div.tdof {
	width: 70px;
}
#top1_by_races .toplistbox .col3 {
	width: 25px;
}
#top6_regions {
	float: left;
	width: 591px;
	margin-right: 0px;
}
#top6_regions.panel .content {
	margin: 0px 5px 5px 5px;
}
#top6_regions td,
#top6_regions th {
	font-size: 9px;
	white-space: nowrap;
	padding-left: 3px;
	padding-right: 3px;
}
#top6_regions table a {
	font-size: 9px;
	white-space: nowrap;
}
#top6_regions a span.whitecolor {
	font-size: 9px;
	color: white;
}


#history_graph {
	float: left;
	margin-top: 10px;
}
#history_graph_content {
	margin-top: -10px;
	height: 342px;
}
#history_graph img {
	width: 570px;
}


#statistics {
	width: 570px;
	height: 309px;
}


#mns {
	margin-top: 10px;
	width: 973px;
}
#mns .toplistbox {
	width: 309px;
}
#mns_alliance {
	margin-right: 0px;
}
#mns_content {
	margin-top: -10px;
}
#mns .panel {
	margin-top: 0px;
}
#mns_content .panel {
	border-color: #303030;
}
#mns_content .panel h2 {
	opacity: 0.7;
}
#mns .toplistbox .col1 {
	width: 140px;
}
#mns .toplistbox .col3 {
	width: 45px;
}

