
#terms .panel-imagebar-left {
	background-image: url(http://galacticax.com/Themes/images/bars/terms1.jpg);
}
#terms .panel-imagebar-right {
	background-image: url(http://galacticax.com/Themes/images/bars/terms2.jpg);
}
#terms h4 a {
	display: block;
	position: relative;
	float: right;
	text-indent: -200px;
	top: -16px;
	left: 0px;
	height: 16px;
	width: 16px;
	overflow: hidden;
	font-size: 11px;
	background: transparent url(http://galacticax.com/Themes/images/portal_gototop.gif) top left no-repeat;
}
#terms td {
	background-color: transparent;
	vertical-align: top;
	color: #bbbbbb;
}

