
#registration .panel-imagebar-left {
	background-image: url(http://galacticax.com/Themes/images/bars/utmutato_bevezeto1.jpg);
}
#registration .panel-imagebar-right {
	background-image: url(http://galacticax.com/Themes/images/bars/utmutato_bevezeto2.jpg);
}
#password_reminder {
	width: 480px;
	margin: 260px auto 0 auto;
}
#password_reminder_form p {
	margin-top: 20px;
}
#password_reminder_form #email {
	width: 280px;
}
#password_reminder_form .combobar {
	width: 285px;
}

