
#dictionary .panel-imagebar-left {
	background-image: url(http://galacticax.com/Themes/images/bars/szotar1.jpg);
}
#dictionary .panel-imagebar-right {
	background-image: url(http://galacticax.com/Themes/images/bars/szotar2.jpg);
}
#dictionary .panel-imagebar-right-content .combobar {
	margin-top: 0px;
	margin-bottom: 10px;
}
.ie6 #dictionary .panel-imagebar-right-content {
	position: absolute;
	top: 10px;
	left: 10px;
}
#encyclopedia-search {
	width: 98%;
}
#search-results {
	margin-top: 10px;
}
#search-results li {
	text-indent: -10px;
	margin-left: 10px;
	margin-bottom: 5px;
}


#dictionary h4 {
	position: relative;
	background-color: #212121;
	font-size: 20px;
	padding: 4px 8px 4px 8px;
}
#dictionary h4 a {
	display: block;
	position: relative;
	float: right;
	text-indent: -200px;
	top: -21px;
	left: 0px;
	height: 16px;
	width: 16px;
	overflow: hidden;
	font-size: 11px;
	background: transparent url(http://galacticax.com/Themes/images/portal_gototop.gif) top left no-repeat;
}
.ie6 #dictionary h4 a {
	left: -10px;
	top: -24px;
}
#dictionary span.exp {
	font: inherit;
	font-weight: normal;
	color: white;
}
#dictionary span.exp:before {
	content: '[ ';
}
#dictionary span.exp:after {
	content: ' ]';
}
#dictionary a.disabled {
	color: #363636;
}
#dictionary dt {
	float: left;
	clear: left;
	margin: 0em 0px 1em 0px;
}
#dictionary dt a {
	color: #ffe3a5;
	font-size: 12px;
	font-weight: bold;
}
#dictionary dd {
	margin: 0em 0px 1em 10px;
	float: left;
	color: white;
	font-size: 12px;
}
#dictionary dd:before {
	content: '[ ';
}
#dictionary dd:after {
	content: ' ]';
}
#dictionary .entry {
	padding: 5px;
}
#dictionary .entry p {
	margin-bottom: 0px;
}
#dictionary .entry h5 {
	margin-top: 0px;
}

