
#dictionary .panel-imagebar-left {
	background-image: url(http://galacticax.com/Themes/images/bars/szotar1.jpg);
}
#dictionary .panel-imagebar-right {
	background-image: url(http://galacticax.com/Themes/images/bars/szotar2.jpg);
}
#dictionary .panel-imagebar-right-content .combobar {
	margin-top: 0px;
	margin-bottom: 10px;
}
#dictionary .panel-imagebar-right-content {
	position: relative;
}


#dictionary dt {
	float: left;
	margin: 0px;
}
#dictionary dt a {
	color: #ffe3a5;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
#dictionary dd {
	display: block;
	margin: 0px 0px 1em; /* itt adjuk meg a felsorolás pontjai közti távolságot*/
	padding: 0em 0em 0em 6em;
	color: white;
	font-size: 12px;
}
#dictionary blockquote {
	text-align: right;
	font-size: 11px;
}

