
table tbody tr td.vr,
table thead tr th.vr {
	padding: 0px;
	width: 1px;
	background-color: #464646;
}
.prerequisites .col1,
.prerequisites .col2 {
	background-color: #212121;
	white-space: nowrap;
}
.prerequisites .col3 {
	padding: 0px;
}
.prerequisites .col3,
.prerequisites .col4 {
	background-color: transparent;
}
.prerequisites .col4 {
	text-align: right;
}
.properties {
	margin-bottom: 10px;
}

