
#tech_details h3 {
	margin-bottom: 10px;
}
table tbody tr td.vr,
table thead tr th.vr {
	padding: 0px;
	width: 1px;
	background-color: #464646;
}
.properties .col1 {
	width: 40px;
	text-align: center;
}
.properties {
	margin-bottom: 10px;
}
img.illustration {
	margin: 0px auto;
}

