
@CHARSET "UTF-8";

/* columns */

table thead td.col-computed-num,
table tbody td.col-computed-num {
	background-color: #2c331f;
}

/* table */

.bullettin-board img.avatar {
	border-color: #3a5822;
}

/* panel */

.panel_facebox .content p a {
	color: #4b9239;
}
.panel {
	border: 1px solid #3a5822;
}
.panel h2 {
	background: #3a5822 url(http://galacticax.com/Themes/images/boxhead_back_digtrox.gif);
}
.panel h2 a.help {
	background: transparent url(http://galacticax.com/Themes/images/button_help_digtrox.gif) no-repeat;
}
.panel h2 a.back {
	background: transparent url(http://galacticax.com/Themes/images/buttons/back_btn_digitrox.gif) no-repeat;
}
.panel h2 a.forward {
	background: transparent url(http://galacticax.com/Themes/images/buttons/forward_btn_digitrox.gif) no-repeat;
}

/* top */

#planeta_l {
	color: #4b9239;
}
#nyersanyagbox,
#infobox,
#line1,
#line2,
#line3 {
	border-color: #3a5822;
}

/* menu */

.menubut a {
	color: #4b9239;
}

/* tablist */

.tablist a {
	color: #4b9239;
}

/* button */

a.button .lft {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_left_digtrox.gif) no-repeat;
}
a.button .rgt {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_right_digtrox.gif) no-repeat;
}
a.button .txt {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_mid_digtrox.gif);
}

a.button:hover .lft {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_left_digtrox_on.gif) no-repeat;
}
a.button:hover .rgt {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_right_digtrox_on.gif) no-repeat;
}
a.button:hover .txt {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_mid_digtrox_on.gif);
}
a.button.feature-disabled:hover .lft {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_left_digtrox.gif) no-repeat;
}
a.button.feature-disabled:hover .rgt {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_right_digtrox.gif) no-repeat;
}
a.button.feature-disabled:hover .txt {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_mid_digtrox.gif);
}
a.button.feature-disabled2:hover .lft {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_left_digtrox.gif) no-repeat;
}
a.button.feature-disabled2:hover .rgt {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_right_digtrox.gif) no-repeat;
}
a.button.feature-disabled2:hover .txt {
	background: transparent url(http://galacticax.com/Themes/images/strechy_but_mid_digtrox.gif);
}

/* top */

#top
{
	/*background-image: url(http://galacticax.com/Themes/images/head_digtrox.jpg);*/
        background-image: url(../images/head_digitrox.png);
		
}

/* basic */

h1, h2, h3, h4, h5, h6,
th {
	color: #4b9239;
}

/* profilbox */

.proftable caption a {
	color: #4b9239;
}

#profilbox,
#planpic {
	border: 1px solid #3a5822;
}

/* forms_css */

textarea,
select,
input.text {
	border: 1px solid #3a5822;
}
input.disabled {
	background-color: #2c331f;
	border-color: #2c331f;
}
span.checkbox {
	background: transparent url(http://galacticax.com/Themes/images/checkbox_digtrox.gif) top left no-repeat;
}
span.radio {
	background: transparent url(http://galacticax.com/Themes/images/checkbox_digtrox.gif) top right no-repeat;
}
span.checkbox_off {
	background: transparent url(http://galacticax.com/Themes/images/checkbox_digtrox.gif) bottom left no-repeat;
}
span.radio_off {
	background: transparent url(http://galacticax.com/Themes/images/checkbox_digtrox.gif) bottom right no-repeat;
}
.selectbox /* look and feel of select box*/
{
	border-color: #3a5822;
	background-image: url(http://galacticax.com/Themes/images/selectbox_digitrox.gif);
}
div.selectbox-wrapper {
  border-color: #3a5822;
}

/* superfish menu */

#submenu {
	background: url(http://galacticax.com/Themes/images/menu/menu_bg0_barna_digtrox.png);
}
.sf-menu li:hover {
	background: url(http://galacticax.com/Themes/images/menu/menu_bg1_barna_digtrox.gif) repeat;
}
ul#menu-gal6 li:hover,
ul#menu-logout li:hover {
	background: url(http://galacticax.com/Themes/images/menu/menu_bg1_sima_digtrox.gif) repeat;
}
.sf-menu li ul {
	background: url(http://galacticax.com/Themes/images/menu/submenu_level3_bg_barna_digtrox.gif) bottom left no-repeat;
}
ul#menu-gal6 li ul {
	background: url(http://galacticax.com/Themes/images/menu/submenu_level3_bg_sima_digtrox.gif) bottom left repeat;
}
ul#menu-gal6 li ul li:hover,
.sf-menu li ul li:hover {
	background: #495247;
	background-image: none;
}

/* credit extra parcel */

#planet_extra #extra_parcel {
	background: url(http://galacticax.com/Themes/images/extra/box_digitrox.gif) no-repeat;
}

.popup_general #alliance_navigator,
.popup_general #galaxy_navigator,
.popup_general #planet_navigator {
	display: block;
}
.popup_general #alliance_profile .combobar,
.popup_general #galaxy_profile .combobar,
.popup_general #planet_profile .combobar {
	display: block;
}

#galaxy_temp hr {
	border-color: #3a5822;
}

.panel_facebox_wrapper .panel {
	background-image: url(http://galacticax.com/Themes/images/tips/infobox_digitrox_bg.png);
}

.sf-menu .unvisited a {
	background-image: url(http://galacticax.com/Themes/images/menu_marker_digtrox.gif);
}

#tippbox {
	background-image: url(http://galacticax.com/Themes/images/tips/smalltip_bg_digitrox.png);
    left: 769px;
}


