
.toplistbox {
	margin-top: 10px;
}
.toplistbox thead {
	display: none;
}
.toplistbox td a {
	font-size: 9px!important;
}
.toplistbox td {
	font-size: 9px;
	white-space: nowrap;
	padding-left: 1px;
	padding-right: 1px;
}
.toplistbox td img {
	vertical-align: -2px;
}
.toplistbox .col1 {
	width: 83px;
}
.toplistbox .col3 {
	width: 75px;
	white-space: nowrap;
}
#top1_by_races .col3 {
	width: 24px;
}
div.toplistbox .content {
	margin: 5px;
}
.toplistbox .col-arrows {
	width: 20px;
}
.toplistbox .col1 div.tdof {
	width: 83px;
}
.toplistbox a span.whitecolor {
	font: inherit;
	color: white;
}
.toplistbox .col1 img {
	width: 17px;
	height: 19px;
}
.toplistbox .col2 img {
	width: 13px;
	height: 12px;
}
.toplistbox .col3 img {
	width: 21px;
	height: 12px;
}

